<template>
	<view>
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;align-self: center;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- loading完成 -->
		<view v-show="!loading">
		
			<!-- 顶部图片 -->
			<swiper class="topImg" :autoplay="true" :interval="3000" :duration="1000">
				<swiper-item v-for="(item, index) in storeInfo.gallery" :key="index">
					<image :src="item=='' ? error : item" @error="errorHandle(item)" :lazy-load="true" mode="scaleToFill" style="width: 100%;"></image>
				</swiper-item>
			</swiper>

			<!-- 欢迎下单 -->
			<view class="row" style="padding:15rpx 30rpx;position: absolute;top: 300rpx;">
				<uni-notice-bar showIcon="true" scrollable="true" :text="notice" speed="50" color="#ffffff" backgroundColor="none"
				 style="width: 600rpx;"></uni-notice-bar>
			</view>

			<!-- 商家信息 -->
			<view class="info">
				<view class="cont">
					<!-- 左边商家信息 -->
					<view class="col" style="width: 550rpx;">
						<text style="font-size: larger;font-weight: bold;overflow: hidden;flex-shrink: 0;
						text-overflow: ellipsis;white-space: nowrap;">{{storeInfo.name}}</text>
						<view class="row" style="margin-top: 10rpx;">
							<view class="smallText">起送: ${{storeInfo.min_amount}}</view>
							<view class="smallText" style="margin-left: 20rpx;">出餐时间: {{storeInfo.cooking_minutes}}m</view>
						</view>
						<view v-if="!showStoreInfo" class="smallText" style="color: #999999;margin-top: 10rpx;">{{storeInfo.addr}}</view>

						<view :class="[showStoreInfo ? 'tagwarp' : 'tagNowarp']">
							<view v-for="(tagitem, tagindex) in tagitem" :key="tagindex" :id="'tag'+tagindex">
								<view class="tag" :style="{'color': tagitem.color,'background-color': colorToRGB(tagitem.color, 0.1)}">
									{{tagitem.tag}}</view>
							</view>
						</view>
					</view>

					<!-- 右边头像 -->
					<view class="col" v-if="!showStoreInfo">
						<image :src="storeInfo.thumb_small=='' ? errorImage : storeInfo.thumb_small" mode="aspectFill" style="width: 130rpx;height: 130rpx;border-radius: 30rpx;"></image>
						<text @click="showInfo" style="width: 120rpx;display: flex;justify-content: center;font-size: smaller;margin-top: 20rpx;">店家详情</text>
					</view>
				</view>
				
				<!-- 商家详细信息 -->
				<view v-if="showStoreInfo" class="col" style="padding: 30rpx; border-bottom: 0.5px solid #F0F0F0;">
					<view class="row" style="margin-top: 10rpx;align-items: center;">
						<text style="font-weight: 500;">综合评价</text>
						<uni-rate :value="storeInfo.shop_rating" size="18" :margin="15" /> 
					</view>
					<view class="row" style="margin-top: 10rpx;white-space: nowrap;">
						<text>营业时间：</text>
						<view>{{storeInfo.today_open_time}}</view>
					</view>
					<view class="row" style="margin-top: 10rpx;white-space: nowrap;">
						<text>联系电话：</text>
						<view style="text-decoration: underline;" @click="callMechant">{{storeInfo.tel}}</view>
					</view>
					<view class="row" style="margin-top: 10rpx;">
						<text style="white-space: nowrap;">详细地址：</text>
						<view style="text-decoration: underline;" @click="openMap">{{storeInfo.addr}}</view>
					</view>
					
					<view style="width: 100%;display: flex;flex-direction: row;justify-content: center;">
						<image src="../../static/image/up.png" mode="aspectFill" @click="showInfo"
						style="position: fixed;bottom: 10rpx;height: 60rpx;width: 60rpx;"></image>
					</view>
				</view>
	 
				<!-- 商家联动菜单 -->
				<view class="ld" v-if="!showStoreInfo" id="menu">
					<view class="left" :style="{'height':windowHeight}">
						<scroll-view :scroll-y="true" :scroll-with-animation="true" :scroll-into-view="clickToId" :style="{'height':windowHeight}">
							<view v-for="(item, index) in menu" :key="index">
								<view :class="['leftTitle', {active:index===currentNum}]" :id="'to'+index" @click="setId(index)">
									{{item.category}}
								</view>
							</view>
							<view style="height: 150rpx;flex-shrink: 0;"></view>
						</scroll-view>
					</view>

					<!-- 右边菜单 -->
					<view class="right" :style="{'height':windowHeight}">
						<scroll-view class="rightscroll" :scroll-into-view="clickId" @scroll="scroll" :scroll-with-animation="true" 
						:scroll-y="scrollY" :style="{'height':windowHeight}" @scrolltoupper="scrolltoupper">
							<view v-for="(item, index) in menu" :key="index" :id="'po'+index">
								<view class="title">{{item.category}}</view>
								<view v-for="(it, idx) in item.products" :key="idx" @click="openProductOption(index, idx)">
									<view class="row" style="height: 140rpx;margin-top: 10rpx;padding: 10rpx;">

										<image :src="it.product_image=='' ? errorImage : it.product_image" :lazy-load="true" @error="handleError(it.product_image)" mode="aspectFill" 
										style="width: 140rpx;height: 140rpx;border-radius: 20rpx;margin-left: 10rpx;"></image>
										<view class="col" style="justify-content: space-between;padding-left: 20rpx;">
											<text class="item">{{it.product_name}}</text>
											<view class="row" style="justify-content: space-between;width: 380rpx;">
												<text style="font-weight: bold;font-size: large;">${{it.org_price}}</text>

												<view class="freeChoice" v-if="it.options.length!=0">自由搭配</view>
												<view v-else class="row">
													<view v-if="it.count!=0" @click.stop="removeItem(index, idx)" class="remove">-</view>
													<text v-if="it.count!=0" style="padding: 0rpx 20rpx;padding-top: 5rpx;">{{it.count}}</text>
													<view class="add" @click.stop="addItem(index, idx)">+</view>
												</view>
											</view>
										</view>
									</view>
								</view>
							</view>
							<view style="height: 200rpx;flex-shrink: 0;"></view>
						</scroll-view>
					</view>
				</view>
			</view>

			
			<!-- 底部弹出框 -->
			<!-- 商品配置项 -->
			<u-popup v-model="showOption" mode="bottom" height="98%" border-radius="20"
			 @touchmove.prevent style="overflow: hidden;">
				<!-- 关闭弹出层的悬浮图标 -->
				<view style="position: absolute;top: 20rpx;left: 20rpx;z-index: 10000;background-color: #000000;border-radius: 50rpx;padding: 8rpx 12rpx;opacity: 0.7;">
					<uni-icons type="arrowthinleft" size="25" color="#ffffff" @click="closePopup"></uni-icons>
				</view>
				<!-- 滑动区域 -->
				<scroll-view class="scroll" scroll-y="true">
					<!-- 图片 -->
					<image :src="product.product_image=='' ? error : product.product_image" @error="errorHandle(product.product_image)" mode="aspectFill" style="width: 100%;height: 350rpx;z-index: 0;margin-top: 0;"></image>
					<view class="absolute">
						<!-- 名字价格 -->
						<view class="row" style="justify-content: space-between;padding: 0rpx 30rpx;padding-top: 30rpx;flex-shrink: 0;">
							<text style="font-size: large;padding-bottom: 10rpx;font-weight: bold;">{{product.product_name}}</text>
							<text style="font-size: large;font-weight: bold;">${{row_total.toFixed(2)}}</text>
						</view>
						<!-- 描述信息 -->
						<view class="row" style="justify-content: space-between;padding: 10rpx 30rpx;font-size: smaller; 
						border-bottom: 0.3px solid #F0F0F0;padding-bottom: 20rpx;">
							<text v-if="product.product_desc == '' || null">没有商品描述信息</text>
							<text v-else>{{product.product_desc}}</text>
						</view>

						<!-- 配置项 -->
						<view v-for="(item, index) in product.options" :key="index" style="padding: 20rpx 30rpx;margin-top: 10rpx;">

							<text style="font-size: large;font-weight: 500;text-decoration: underline;text-decoration-color: #FFFF00;
							text-decoration-thickness: 5px;text-decoration-style: solid;">{{item.label}}</text>

							<!-- 单选 -->
							<view v-if="item.type=='radio'">
								<view style="font-weight: 300;color: #FF0000;margin-bottom: 10rpx;">[必选]</view>
								<radio-group>
									<label v-for="(ritem, rindex) in item.items" @click="ritem.status==0 ?'':optionRadioChange(index, rindex, $event)"
									 :key="rindex" class="options">
										<view style="display: flex;flex-direction: row;">
											<radio :value="ritem.name" :checked="ritem.checked === 1" color="#FF8161" :disabled="ritem.status==0" />
											<text style="margin-left: 15rpx;font-size: large;" :style="{'color': (ritem.status==0 ? '#BBBBBB':''),'color': (ritem.checked==1 ? '#FF8161':'')}">{{ritem.name}}</text>
											<text v-show="ritem.price!=0" style="margin-left: 15rpx;font-size: small;color: #999999;margin-top: 10rpx;white-space: nowrap;">
												+ ${{ritem.price}}</text>
										</view>
										<view v-show="ritem.status==0" class="soldout">SOLD OUT</view>
									</label>
								</radio-group>
							</view>

							<!-- 多选 -->
							<view v-else-if="item.type=='checkbox'">
								<view style="font-weight: 300;color: #999;margin-bottom: 10rpx;">[可选，最多可选{{item.max}}个]</view>
								<evan-checkbox-group>
									<label ﻿v-for="(citem, cindex) in item.items" @click="citem.status==0 ? '' : checkboxGroupChange(index, cindex, item.max)"
									 :key="cindex" class="options" style="padding: 13rpx 0rpx;">
										<view style="display: flex;flex-direction: row;align-items: center;">
											<!-- 若max是1，则显示checkbox -->
											<evan-checkbox v-if="citem.max == 1" v-model="citem.checked==1" :label="citem.name" shape="square" style="padding: 15rpx 10rpx;"
											 primaryColor="#FF8161" iconSize="18" :disabled="citem.status===0">
											</evan-checkbox>

											<!-- max大于1则显示加 -->
											<view v-else-if="citem.qty == 0">
												<view class="add" style="background-color: #FFFFFF;color: #999999;margin-left: 5rpx;border: 0.2px solid #000000;box-shadow: -1px 1px 0px 0.5px #DDDDDD;">+</view>
											</view>

											<!-- qty大于0 显示加减 -->
											<view v-else class="row">
												<view v-if="citem.qty!=0" @click.stop="removeOptionItem(index, cindex)" class="remove">-</view>
												<text v-if="citem.qty!=0" style="padding: 0rpx 20rpx;padding-top: 5rpx;">{{citem.qty}}</text>
												<view class="add">+</view>
											</view>

											<!-- 选项名字 -->
											<text style="margin-left: 20rpx;font-size: large;" v-bind:style="{'color': (ritem.status==0 ? '#BBBBBB':''), 'color': (citem.checked==1 ? '#FF8161' : '')}">{{citem.name}}</text>
											<text v-show="citem.price!=0" style="margin-left: 15rpx;font-size: small;color: #999999;margin-top: 10rpx;white-space: nowrap;">+ ${{citem.price}}</text>

										</view>
										<view v-show="citem.status==0" class="soldout">SOLD OUT</view>
									</label>
								</evan-checkbox-group>
							</view>
						</view>
						<!-- 选择数量 -->
						<text style="padding: 40rpx 30rpx; font-size: larger;font-weight: 300;">选择数量</text>
						<view style="width: 100%;display: flex;justify-content: center;">
							<view class="row" style="justify-content: center;align-items: center; width: 300rpx;height: 100rpx; border-radius: 90rpx; border: 1px solid #F0F0F0;">
								<text style="font-size: xx-large;color: #999999;font-weight: 300;" @click="removeProductOption">-</text>
								<text style="padding: 0rpx 60rpx;">{{product.count}}</text>
								<text style="font-size: xx-large;color: #999999;font-weight: 200;" @click="addProductOption">+</text>
							</view>
						</view>

						<!-- 备注 -->
						<text style="padding: 20rpx 30rpx; font-size: larger;font-weight: 300;margin-top: 100rpx;">Special Instructions</text>
						<input type="text" placeholder="Add a note" confirm-type="done" @input="productNote" style="height: 100rpx;background-color: #F7F7F7;padding: 20rpx 30rpx;flex-shrink: 0;" />

						<!-- 底部留白 -->
						<view style="height: 200rpx;background-color: #FFFFFF;flex-shrink: 0;"></view>
					</view>
				</scroll-view>

				<!-- 底部添加按钮 -->
				<view class="btn" style="color: #FFFFFF;font-size: larger;background-color: #FF8161;align-items: center;justify-content: center;left: 25rpx;font-weight: 500;"
				 @click="addToCart">添加到购物车</view>
			</u-popup>

			<!-- 底部悬浮的bar -->
			<view class="btn" @click="openCart" v-if="!showStoreInfo" style="display: flex;justify-content: space-between;">
				<view class="row" style="margin-left: 40rpx;margin-top: 15rpx;">
					<view class="col" @click.stop="gotoHome">
						<image src="../../static/image/home.png" mode="aspectFill" style="height: 35rpx;width: 35rpx;margin-top: 5rpx;margin-left: 5rpx;"></image>
						<view style="color: #FFFFFF;font-size: x-small;white-space: nowrap;margin-top: 8rpx;">首页</view>
					</view>

					<button @click.stop class="col" style="margin-left: 15rpx;border: none;" open-type="share" plain="true">
						<image src="../../static/image/share.png" mode="aspectFill" style="height: 40rpx;width: 35rpx;margin-top: 5rpx;margin-left: 5rpx;"></image>
						<view style="color: #FFFFFF;font-size: x-small;white-space: nowrap;">分享</view>
					</button>

					<view style="margin-left: 20rpx;color: #FFFFFF;font-size: larger;margin-top: 10rpx;font-weight: 600;">
						${{totalPrice.toFixed(2)}}</view>
					<view v-if="originalTotalPrice!=totalPrice" style="margin-left: 20rpx;color: #999;font-weight: 500;
					margin-top: 15rpx;text-decoration: line-through;">{{originalTotalPrice.toFixed(2)}}</view>
				</view>

				<view v-if="open == 0" class="notEnough">已经打烊</view>
				<view v-else-if="totalPrice > min_amount" class="placeOrder" @click.stop="placeOrder">去结算</view>
				<view v-else class="notEnough">还差${{(Number(min_amount) - Number(totalPrice)).toFixed(2)}}</view>
			</view>
			
			<!-- 底部弹出购物车 -->
			<u-popup v-model="showCart" mode="bottom" height="60%" border-radius="20"
			 @touchmove.prevent @touchmove.stop style="overflow: hidden;">
				<view style="display: flex;flex-direction: row;justify-content: space-between;padding: 30rpx;height: 100rpx;border-bottom: 0.5px solid #F0F0F0;">
					<view style="font-size: large;">购物车</view>
					<view class="row" @click="emptyCart">
						<image src="../../static/image/trash.png" mode="aspectFill" style="height: 40rpx;width: 40rpx;"></image>
						<view style="color: #999999;">清空购物车</view>
					</view>
				</view>
				<scroll-view scroll-y="true" style="height: 750rpx;">
					<view v-for="(it, index) in shoppingCart" :key="index">
						<view class="cartItem">
							<view class="row" style="justify-content: space-between;width: 100%;align-items: center;">
								<view class="row">
									<image :src="it.image=='' ? errorImage : it.image" :lazy-load="true" @error="handleError(it.image)" mode="aspectFill" style="width: 120rpx;height: 120rpx;border-radius: 20rpx;margin-left: 10rpx;"></image>
									<view class="col" style="justify-content: space-between;padding-left: 20rpx;">
										<text class="item">{{it.name}}</text>
										<text style="font-weight: bold;font-size: large;color: #FF8161;">${{it.row_total.toFixed(2)}}</text>
									</view>
								</view>
								<view class="row">
									<view @click="removeCartItem(index)" class="remove">-</view>
									<text style="padding: 0rpx 20rpx;padding-top: 5rpx;">{{it.qty}}</text>
									<view class="add" @click="addCartItem(index)">+</view>
								</view>
							</view>
						</view>
					</view>
					<!-- 底部留白 -->
					<view style="height: 300rpx;background-color: #FFFFFF;flex-shrink: 0;"></view>
				</scroll-view>
				
				<!-- 底部结算按钮 -->
				<view class="btn" style="color: #FFFFFF;font-size: larger;background-color: #FF8161;align-items: center;justify-content: center;left: 25rpx;font-weight: 500;"
				 @click="placeOrder">去结算</view>
			 </u-popup>
		</view>
	
	</view>
</template>

<script>
	export default {
		data() {
			return {
				clickId: '',
				clickToId: '',
				pNote: '',
				product: null,
				loading: true,
				reachTop: true,
				scrollY : true,
				// showLogin: false,
				showOption: false,
				showCart: false,
				showStoreInfo: false,
				isLeftClick: false,
				menu: null,
				storeInfo: null,
				existIndex: null,
				notice: '欢迎下单,祝您用餐愉快!',
				windowHeight: '0px',
				topList: [],
				tagitem: [],
				option: [],
				shoppingCart: [],
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
				totalPrice: 0,
				originalTotalPrice: 0,
				min_amount: 0,
				row_total: 0,
				radioCount: 0,
				noc: 0,
				currentNum: 0,
				open: 0,
				errorImage: '../../static/image/errorMenu.png',
				error: '../../static/image/error.png',
			}
		},

		onLoad(e) {
			this.loading = true
			// 新商家菜单
			uni.request({
				url: getApp().globalData.FormalServer + getApp().globalData.shopNewMenu,
				method: 'GET',
				data: {
					shop_id: e.mid,
					shipping_type: 'delivery',
				},
				success: res => {
					console.log('新接口菜单', res.data.data);
					this.menu = res.data.data.menus
					for (var i = 0; i < this.menu.length; i++) {
						for (var j = 0; j < this.menu[i].products.length; j++) {
							this.menu[i].products[j].count = 0
						}
					}
				},
				fail: () => {},
				complete: () => {}
			});
			
			// 获取商家信息
			uni.request({
				url: getApp().globalData.FormalServer + getApp().globalData.shopInfo,
				method: 'GET',
				data: {
					mid: e.mid
				},
				success: res => {
					this.storeInfo = res.data.data
					this.storeInfo.horn_message === "" ? '' : this.notice = this.storeInfo.horn_message
					console.log('商家信息',this.storeInfo);
					this.tagitem = this.storeInfo.tags
					this.min_amount = this.storeInfo.min_amount
					this.open = this.storeInfo.open
				},
				fail: () => {},
				complete: () => {
				}
			});
			// 获取屏幕高度
			let _that = this;
			uni.getSystemInfo({
				success: function(res) {
					console.log('用户屏幕信息',res);
					_that.windowHeight = res.windowHeight + 'px';
				}
			});
		},
		
		onShow() {
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 400)
		},
		
		// 监听页面滑动
		onPageScroll(e) {
			// console.log(e);
			e.scrollTop > 40 ? 
			this.scrollDown()
			: ''
			
			e.scrollTop < 5 ? this.reachTop = true : ''
		},
		
		// 设置页面的分享信息
		onShareAppMessage() {
			return {
			  title: this.storeInfo.name,
			  path: '/pages/menu/menu?mid=' + this.storeInfo.mid,
			  imageUrl: this.storeInfo.preview_img
			}
		},
		
		methods: {
			// 页面滑动超过部分则页面上推
			scrollDown(){
				this.reachTop ?
				(uni.pageScrollTo({
					scrollTop: 400
				}),this.reachTop = false
				,this.getNodesInfo()
				)
				: ''
			},
			
			// 滑动到菜单顶部则页面自动下推
			scrolltoupper(){
				uni.pageScrollTo({
					scrollTop: 0
				})
			},
			
			// 购物车里减商品数量
			removeCartItem(index){
				this.shoppingCart[index].qty == 1 ? 
					this.shoppingCart.splice(index, 1)
					: (this.shoppingCart[index].qty--,
						this.shoppingCart[index].row_total = this.shoppingCart[index].qty * this.shoppingCart[index].price,
						this.shoppingCart[index].org_row_total = this.shoppingCart[index].org_price * this.shoppingCart[index].qty)
				this.calProductPrice()
				this.$forceUpdate()
			},
			
			// 购物车里加商品数量
			addCartItem(index){
				// if (this.shoppingCart[index].options.length == 0) {
					this.shoppingCart[index].qty++
					this.shoppingCart[index].row_total = this.shoppingCart[index].qty * this.shoppingCart[index].price
					this.shoppingCart[index].org_row_total = this.shoppingCart[index].org_price * this.shoppingCart[index].qty
				// }else{
				// 	this.shoppingCart.push(this.shoppingCart[index])
				// }
				this.calProductPrice()
				this.$forceUpdate()
				console.log('购物车', this.shoppingCart);
			},
			
			// 清除购物车
			emptyCart(){
				this.shoppingCart = []
				this.menu.forEach(e => e.products.forEach(e1=> e1.count = 0))
				this.showCart = !this.showCart
			},
			
			//若购物车不为空 打开或关闭购物车
			openCart(){
				this.shoppingCart.length === 0 ? '' : this.showCart = !this.showCart
			},
			
			// 产品的备注
			productNote(e) {
				// console.log(e.detail.value);
				this.pNote = e.detail.value
			},

			// 单选选中
			optionRadioChange(Oindex, Rindex) {
				var item = this.product.options[Oindex].items;
				// 把所有选项清空
				item.forEach(function(e){
					e.checked = 0, e.qty = 0
				})
				// 选中
				item[Rindex].checked = 1;
				item[Rindex].qty = 1;
				// 重新计算价格
				this.row_total = this.calculateRow_total();
			},

			// 多选选中或者添加
			checkboxGroupChange(Oindex, cindex, max) {
				// console.log(Oindex,cindex);
				var noc = 0;
				var items = this.product.options[Oindex].items;

				if (items[cindex].max == 1) {
					// 显示的checkbox
					if (items[cindex].checked == 0) {
						// 选中checkbox
						items[cindex].checked = 1
						items[cindex].qty = 1
					} else if (items[cindex].checked == 1) {
						// 取消选中
						items[cindex].checked = 0
						items[cindex].qty = 0
					}
				} else {
					// 显示的加减
					items[cindex].checked = 1
					items[cindex].qty++
				}

				//计算选中多少个配置
				items.forEach(e=> e.checked == 1 ? noc++ : '')
				
				// 若超过当前checkboxGroup的max或者超过配置项的max，则取消选中
				if (noc > max) {
					uni.showModal({
						showCancel: false,
						title: '提示',
						content: this.product.options[Oindex].label + '不能超过' + max + '个',
						success: (res) => {
							// console.log(res);
							if (res.confirm) {
								// 取消选中
								items[cindex].checked = 0
								items[cindex].qty = 0
							}
						}
					})
				} else if (items[cindex].qty > items[cindex].max) {
					uni.showModal({
						showCancel: false,
						title: '提示',
						content: items[cindex].name + '不能超过' + items[cindex].max + '个',
						success: (res) => {
							if (res.confirm) {
								// 取消选中
								items[cindex].qty--;
								this.$forceUpdate()
							}
						}
					})
				}
				//强制更新ui
				this.$forceUpdate()
				// 重新计算价格
				this.row_total = this.calculateRow_total();
				// console.log('添加', items);
			},

			// 自由选项商品加到购物车
			addToCart() {
				console.log(this.product);
				console.log('是否符合多选的minimum',this.meetCheckboxMin());
				console.log('现在选中数和实际要选的单选数', this.radioCount, this.actualRadioCount());
				//判断用户是否选择了所有必选
				if (this.radioCount == this.actualRadioCount() && this.meetCheckboxMin()) {
					//选择完选项，加到购物车
					this.shoppingCart.push({
						name: this.product.product_name,
						price: this.product.price,
						org_price: this.org_price,
						org_row_total: this.calculate_org_Row_total(),
						image: this.product.product_image,
						product_id: this.product.product_id,
						qty: this.product.count,
						row_total: this.row_total * this.product.count,
						options: this.product.options,
						note: this.pNote
					})
					// 重新计算购物车价格
					this.calProductPrice();
					//关闭弹出层
					this.showOption = false
				}
				console.log('购物车', this.shoppingCart);
			},

			//计算实际选了几个必选
			actualRadioCount() {
				var count = 0
				this.product.options.forEach(e=> e.type =='radio' ? 
				e.items.forEach(e1 => e1.checked === 1 ? count++ : '') : '')
				return count;
			},

			//计算是否所有checkboxgroup都满足min个选项
			meetCheckboxMin() {
				let satisfy = true;
				this.product.options.forEach(function(e){
					if (e.type === 'checkbox' && e.min > 0) {
						// 计算实际的选中
						var count = 0;
						e.items.forEach(e1 => e1.checked === 1 ? count++ : '')
						
						if (count < e.min) {
							// 没选够
							uni.showModal({
								title: '提示',
								content: e.label + '至少选' + e.min + '个',
								showCancel: false,
								confirmColor: '#FF8161'
							});
							satisfy =  false;
						}
					}
				})
				return satisfy;
			},

			//减去选择的选项
			removeOptionItem(Oindex, cindex) {
				var items = this.product.options[Oindex].items;
				if (items[cindex].qty > 0) {
					items[cindex].qty--;
					items[cindex].qty == 0 ? items[cindex].checked = 0 : '';
					//强制更新ui
					this.$forceUpdate()
					// 重新计算价格
					this.row_total = this.calculateRow_total();
				}
			},

			// 计算自由搭配产品价格
			calculateRow_total() {
				var price = this.product.price;
				this.product.options.forEach(e => e.items.forEach(e1 => 
				(e1.checked == 1 && e1.price != 0 ? price += e1.price * e1.qty : '')))
				return price;
			},
			
			// 计算原本自由搭配产品价格
			calculate_org_Row_total() {
				var price = this.product.org_price;
				this.product.options.forEach(e => e.items.forEach(e1 => 
				(e1.checked == 1 && e1.price != 0 ? price += e1.price * e1.qty : '')))
				return price * this.product.count;
			},

			// 打开配置并且记录当前产品有多少个必选
			openProductOption(cindex, pindex) {
				// 归零
				this.radioCount = 0
				this.option = []
				//对产品做一个deepCopy
				this.product = JSON.parse(JSON.stringify(this.menu[cindex].products[pindex]))
				this.row_total = this.product.price
				this.product.count = 1
				//打开弹出层
				this.showOption = true
				//点开选项时记录有几个必选
				this.product.options.forEach(e=> 
				(e.type === "radio" ? this.radioCount++ : '',
				e.type === "checkbox" ? e.items.forEach(e1 => e1.qty = 0) : ''))
				
				console.log('打开的产品信息', this.product);
			},
			
			// 去下单
			placeOrder() {
				if (getApp().globalData.loginStatus) {
					getApp().globalData.shoppingCart = this.shoppingCart
					getApp().globalData.totalPrice = this.totalPrice
					getApp().globalData.storeInfo = this.storeInfo
					uni.navigateTo({
						url: '../addressList/addressList?type=select',
					});
				}else{
					// this.showLogin = true
					uni.navigateTo({
						url: '../login/login',
					});
				}
			},

			addProductOption() {
				this.product.count++
			},
			// 当前配置产品的数量
			removeProductOption() {
				this.product.count == 1 ? '' : this.product.count--
			},

			// 加到购物车(无自由选项)
			addItem(cindex, pindex) {
				// 深拷贝这个product的信息
				let item = this.menu[cindex].products[pindex]
				item.count++;
				if (this.existInCart(item.product_id)) {
					// 在购物车里存在
					this.shoppingCart[this.existIndex].qty++
					this.shoppingCart[this.existIndex].row_total = item.price * this.shoppingCart[this.existIndex].qty
					this.shoppingCart[this.existIndex].org_row_total = item.org_price * this.shoppingCart[this.existIndex].qty
				} else {
					// 第一次加入购物车
					this.shoppingCart.push({
						name: item.product_name,
						price: item.price,
						org_price: item.org_price,
						org_row_total: item.org_price,
						image: item.product_image,
						product_id: item.product_id,
						qty: item.count,
						row_total: item.price,
						options: item.options,
					})
				}
				this.calProductPrice();
				console.log('购物车',this.shoppingCart);
			},

			//查看产品是否在购物车里存在
			existInCart(pid) {
				var exist = false
				for (var i = 0; i < this.shoppingCart.length; i++) {
					if (this.shoppingCart[i].product_id == pid) {
						exist = true
						this.existIndex = i
						break
					}
				}
				return exist
			},

			// 在购物车里移除(无自由搭配的产品)
			removeItem(cindex, pindex) {
				// console.log(cindex, pindex);
				let item = this.menu[cindex].products[pindex]
				item.count--;
				//查找产品在购物车里的index
				this.existInCart(item.product_id);
				if (this.shoppingCart[this.existIndex].qty === 1) {
					// 如果产品数量为1就直接移除
					this.shoppingCart.splice(this.existIndex, 1)
				} else {
					// 大于1则改数量和价格
					this.shoppingCart[this.existIndex].qty--;
					this.shoppingCart[this.existIndex].row_total = item.price * this.shoppingCart[this.existIndex].qty
					this.shoppingCart[this.existIndex].row_total = item.org_price * this.shoppingCart[this.existIndex].qty
				}
				// 重新计算价格
				this.calProductPrice();
				//强制更新
				this.$forceUpdate()
				console.log('购物车', this.shoppingCart);
			},

			// 计算购物车价格
			calProductPrice() {
				let price = 0
				let	org_price = 0;
				this.shoppingCart.forEach(e => price += e.row_total)
				this.shoppingCart.forEach(e => org_price += e.org_row_total)
				this.totalPrice = price
				org_price !== org_price ? this.originalTotalPrice = price : this.originalTotalPrice = org_price
				// console.log(Number.isNaN(org_price));
			},
			
			// 关闭弹出层
			closePopup(){
				this.showOption = false;
			},
			
			// 顶部图片加载出错
			errorHandle(item){
				item = this.error
			},
			
			// 菜品图片加载出错
			handleError(item){
				item = this.errorImage
			},
			
			//返回首页
			gotoHome() {
				uni.switchTab({
					url: '../index/index'
				})
			},

			colorToRGB(val, opa) {
				const pattern = /^(#?)[a-fA-F0-9]{6}$/; //16进制颜色值校验规则
				const flag = typeof opa == 'number'; //判断是否有设置不透明度

				if (!pattern.test(val)) { //如果值不符合规则返回空字符
					return '';
				}
				let v = val.replace(/#/, ''); //如果有#号先去除#号
				let rgbArr = [];
				let rgbStr = '';
				for (let i = 0; i < 3; i++) {
					let item = v.substring(i * 2, i * 2 + 2);
					let num = parseInt(item, 16);
					rgbArr.push(num);
				}
				rgbStr = rgbArr.join();
				rgbStr = 'rgb' + (flag ? 'a' : '') + '(' + rgbStr + (flag ? ',' + opa : '') + ')';
				return rgbStr;
			},

			setId(index) {
				// console.log(index);
				this.clickId = 'po' + index;
				this.isLeftClick = true;
				this.currentNum = index;
			},

			scroll(e) {
				let scrollTop = e.target.scrollTop;
				// 滑动超过一定距离则上推页面,
				scrollTop > 40 ?
				uni.pageScrollTo({
					scrollTop: 400,
					duration: 200,
					success: () => {
						this.getNodesInfo()
					}
				})
				: ''
				
				// 检查如果右边菜单滑动到下一类别,左边也滑动到对应的类别
				for (let i = 0; i < this.topList.length; i++) {
					let h1 = this.topList[i];
					let h2 = this.topList[i + 1];
					if (scrollTop >= h1 && scrollTop < h2) {
						// console.log(h1,h2,i);
						this.currentNum = i;
						this.clickToId = 'to' + i
					}
				}
			},

			getNodesInfo() {
				const query = uni.createSelectorQuery().in(this);
				query.selectAll('.title').boundingClientRect(res => {
					// console.log(res)
					let rel = [];
					for (var i = 0; i < res.length; i++) {
						rel.push(res[i].top);
					}
					console.log('计算每一个title的高度', rel)
					this.topList = rel;
				}).exec();
				// 函数重新,使它只执行一次
				this.getNodesInfo = function(){};
			},
					
			showInfo(){
				this.showStoreInfo = !this.showStoreInfo
			},
			
			callMechant(){
				uni.makePhoneCall({
					phoneNumber: this.storeInfo.tel
				})
			},
			
			openMap(){
				uni.openLocation({
					latitude: Number(this.storeInfo.lat),
					longitude: Number(this.storeInfo.lon),
					success: function() {
						console.log('success');
					}
				});
			}
		}
	}
</script>

<style>
	page{
		scroll-behavior: smooth;
	}
	.scroll {
		width: 100%;
		height: 100%;
		background-color: #FFFFFF;
	}

	.soldout {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #202020;
		color: #FFFFFF;
		padding: 3rpx 10rpx;
		border-radius: 10rpx;
		font-size: x-small;
		font-weight: 300;
		height: 50rpx;
	}

	.options {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 17rpx 0rpx;
		border-bottom: 0.5px solid #F0F0F0;
		justify-content: space-between;
	}

	.notEnough {
		display: flex;
		color: #FFFFFF;
		justify-content: center;
		align-items: center;
		/* margin-left: 120rpx; */
		width: 240rpx;
		white-space: nowrap;
		background-color: #202020;
		border-top-right-radius: 98rpx;
		border-bottom-right-radius: 98rpx;
	}

	.placeOrder {
		display: flex;
		color: #FFFFFF;
		justify-content: center;
		align-items: center;
		/* margin-left: 50rpx; */
		width: 240rpx;
		white-space: nowrap;
		background-color: #FF8161;
		border-top-right-radius: 98rpx;
		border-bottom-right-radius: 98rpx;
	}

	.btn {
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		left: 30rpx;
		right: 30rpx;
		flex-direction: row;
		background-color: #000000;
		border-radius: 98rpx;
		width: 700rpx;
		height: 100rpx;
	}

	.freeChoice {
		border-radius: 30rpx;
		padding: 8rpx 25rpx;
		margin-bottom: 10rpx;
		background-color: #FF8161;
		color: #FFFFFF;
		font-size: small;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		/* text-align: center; */
		box-shadow: -2px 2px 1px 2px #ECECEC;
	}

	.add,
	.remove {
		/* box-shadow: 0px 0px 2px 2px #DDDDDD; */
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55rpx;
		height: 55rpx;
		border-radius: 98rpx;
		color: white;
		padding-bottom: 10rpx;
		font-size: x-large;
		font-weight: 700;
		background-color: #FF8161;
	}

	.smallText {
		font-size: small;
		font-weight: 300;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.col {
		display: flex;
		flex-direction: column;
	}

	.topImg {
		z-index: 0;
		margin-top: 0;
		height: 400rpx;
	}

	.info {
		display: flex;
		flex-direction: column;
		top: 370rpx;
		right: 0rpx;
		left: 0rpx;
		bottom: 0rpx;
		z-index: 10;
		position: absolute;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
	}

	.absolute {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		top: 320rpx;
		right: 0rpx;
		left: 0rpx;
		bottom: 0rpx;
		z-index: 10;
		position: absolute;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		background-color: #FFFFFF;
		flex-shrink: 0;
	}

	.cont {
		display: flex;
		flex-direction: row;
		padding: 10rpx 20rpx;
		justify-content: space-between;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		background-color: #FFFFFF;
		flex-shrink: 0;
		padding-top: 30rpx;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.ld {
		display: flex;
		/* position: absolute;
		right: 0rpx;
		left: 0rpx;
		bottom: 0rpx; */
	}

	.left {
		display: flex;
		width: 160rpx;
	}

	.leftTitle {
		background-color: #F0F0F0;
		text-align: center;
		height: 100rpx;
		line-height: 100rpx;
		color: #000000;
		font-size: small;
		display: -webkit-box;
		/* 控制行数 */
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.active {
		background-color: #FFFFFF;
		border-left: 4px solid #FF8161;
	}

	.right {
		display: flex;
		flex: 1;
	}

	.title {
		margin-top: 10rpx;
		color: #999999;
		padding: 10rpx;
		font-weight: 300;
		font-size: small;
		position: sticky;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		background-color: #FFFFFF;
	}

	.item {
		display: inline-block;
		height: 50rpx;
		width: 350rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.tag {
		padding: 5rpx 14rpx;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-small;
		white-space: nowrap;
		margin: 0rpx 5rpx;
		border-radius: 98rpx;
		margin-top: 5rpx;
		overflow: hidden;
	}
	.tagNowarp{
		margin-top: 10rpx;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* white-space: nowrap; */
		width: 550rpx;
		flex-shrink: 0;
		/* overflow-x: hidden; */
	}
	.tagwarp{
		margin-top: 10rpx;
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	.cartItem{
		padding: 20rpx 30rpx;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 140rpx;
		width: 100%;
		border-bottom: 0.5px solid #F0F0F0;
	}
</style>
