<template>
	<view style="padding: 0rpx 35rpx;">
		
		<view v-for="(it, i) in discount" :key = "i">
			<!-- 优惠title -->
			<view v-if="it.coupons.length!=0" class="coupon_row" :style="{'margin-top': (it.discount_group=='internal_discount' ? '0rpx':'60rpx')}">
				<!-- 优惠券图标 -->
				<image v-if="it.discount_group=='internal_discount'" src="../../static/image/coupon_fix.png" mode="aspectFill" class="coupon_icon"></image>
				<image v-else-if="it.discount_group=='normal_discount'" src="../../static/image/product_coupon.png" mode="aspectFill" class="coupon_icon"></image>
				<image v-else-if="it.discount_group=='member_discount'" src="../../static/image/product_coupon2.png" mode="aspectFill" class="coupon_icon"></image>
				<image v-else-if="it.discount_group=='overlap_discount'" src="../../static/image/product_coupon4.png" mode="aspectFill" class="coupon_icon"></image>
				<!-- 优惠券类别 -->
				<text style="margin-left: 10rpx;font-size: large;">{{it.desc}}</text>
			</view>
			
			<!-- 选项 -->
			<radio-group>
				<label v-for="(item, index) in it.coupons" @click="optionRadioChange(i, index)":key="index">
					<!-- 内部优惠 -->
					<view v-if="it.discount_group=='internal_discount'" class="options" style="background-color: #F5F5F5;height: 140rpx;">
						<view style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
							<view class="col">
								<!-- 优惠券标题 -->
								<text style="font-size: large;">{{item.title}}</text>
								<!-- 优惠券规则 -->
								<view class="grayText" style="font-size: xx-small;padding-top: 8rpx;width: 500rpx;">{{item.rule_desc}}</view>
							</view>
							
							<image src="../../static/image/lock.png" mode="aspectFill" style="height: 50rpx;width: 50rpx;"></image>
						</view>
						
					</view>
					
					<!-- 普通优惠 -->
					<view v-else-if="it.discount_group=='normal_discount'" class="options" :style="{'border': (item.checked==1 ? '1.5px solid #FF5722':'0.3px solid #F0F0F0')}">
						<!-- 优惠券左上角角标颜色判断 -->
						<view class="con"></view>
						
						<!-- 优惠券标题 -->
						<view style="display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 15rpx;">
							<text style="font-size: large;">{{item.title}}</text>
							<radio :value="item.code" :checked="item.checked === 1" color="#FF5722" :disabled="ritem.status==0" />
						</view>
						
						<!-- 优惠券有效期 -->
						<view class="row">
							<view class="grayText" style="padding-bottom: 15rpx;">有效期至</view>
							<text style="margin-left: 20rpx;font-size: smaller;">{{item.end_date}}</text>
						</view>
						
						<!-- 优惠券规则 -->
						<view class="grayText" style="font-size: xx-small;padding-top: 15rpx;border-top: 0.5rpx dashed #F0F0F0;">
							{{item.rule_desc}}</view>	
					</view>
					
					<!-- 会员专属优惠 -->
					<view v-else-if="it.discount_group=='member_discount'" class="options" :style="{'border': (item.checked==1 ? '1.5px solid #FFD907':'0.3px solid #F0F0F0;')}">
						<!-- 优惠券左上角角标颜色判断 -->
						<view class="con1"></view>
						
						<!-- 优惠券标题 -->
						<view style="display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 15rpx;">
							<text style="font-size: large;">{{item.title}}</text>
							<radio :value="item.code" :checked="item.checked === 1" color="#FFD907" :disabled="ritem.status==0" />
						</view>
						
						<!-- 优惠券有效期 -->
						<view class="row">
							<view class="grayText" style="padding-bottom: 15rpx;">有效期至</view>
							<text style="margin-left: 20rpx;font-size: smaller;">{{item.end_date}}</text>
						</view>
						
						<!-- 优惠券规则 -->
						<view class="grayText" style="font-size: xx-small;padding-top: 15rpx;border-top: 0.5rpx dashed #F0F0F0;">
							{{item.rule_desc}}</view>	
					</view>
					
					<!-- 超级折上折 -->
					<view v-else-if="it.discount_group=='overlap_discount'" class="options" :style="{'border': (item.checked==1 ? '1.5px solid #78E0DC':'0.3px solid #F0F0F0;')}">
						<!-- 优惠券左上角角标颜色判断 -->
						<view class="con2"></view>
						
						<!-- 优惠券标题 -->
						<view style="display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 15rpx;">
							<text style="font-size: large;">{{item.title}}</text>
							<radio :value="item.code" :checked="item.checked === 1" color="#78E0DC" :disabled="ritem.status==0" />
						</view>
						
						<!-- 赞助说明 -->
						
						
						<!-- 优惠券有效期 -->
						<view class="row">
							<view class="grayText" style="padding-bottom: 15rpx;">有效期至</view>
							<text style="margin-left: 20rpx;font-size: smaller;">{{item.end_date}}</text>
						</view>
						
						<!-- 优惠券规则 -->
						<view class="grayText" style="font-size: xx-small;padding-top: 15rpx;border-top: 0.5rpx dashed #F0F0F0;">
							{{item.rule_desc}}</view>	
					</view>
						
				</label>
			</radio-group> 
		</view>
		
		<!-- 底部留白 -->
		<view style="height: 300rpx;flex-shrink: 0;"></view>
		
		<!-- 底部的bar -->
		<view v-if="!show" class="tabbar">
			<view class="col" style="margin-left: 15rpx;">
				<text style="color: #FFFFFF;">已使用{{coupon_count}}张券</text>
				<text style="color: #FFFFFF;">共优惠 ${{discount_amount}}</text>
			</view>
			<view class="calculate" @click="popupSwitch">输入code</view>
		</view>
		
		<!-- 确定按钮 -->
		<view v-if="!show" @click="confirmDiscount" class="confirm">确定</view>
		
		<!-- 底部弹出框 -->
		<u-popup v-model="show" mode="bottom" border-radius="30" closeable="true" width="100%" height="40%" close-icon-pos="top-left">
			<view class="col" style="padding: 30rpx;align-items: center;">
				<text style="font-weight: 500;">输入优惠码code</text>
				<view class="couponInput">
					<input style="width: 250rpx;" v-model="code" @input="codeInput" type="text" :focus="autoFocus" cursor-spacing="180"/>
					<image v-show="code!=''" src="../../static/image/clear.png" mode="aspectFit" style="height: 40rpx;width: 40rpx;" @click="clearCode"></image>
				</view>
				<view class="apply" @click="checkPromo">确定</view>
			</view>
		</u-popup>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				validate_coupons: null,
				shoppingCart: null,
				shipping_type: null,
				priceInfo: null,
				shop_id: null,
				discount: [],
				show: false,
				code: "",
				couponCodes: '',
				autoFocus: false,
				coupon_count: 0,
				discount_amount: 0,
			}
		},
		
		onLoad(e) {
			// console.log(e.shipping_type)
			this.shipping_type = e.shipping_type
			this.shop_id = e.shop_id
			
			// 获取订单信息
			this.priceInfo = getApp().globalData.priceInfo
			this.shoppingCart =  getApp().globalData.shoppingCart
			
			// 获取已使用的优惠券以及优惠价格
			this.coupon_count = this.priceInfo.summary.coupon_count
			this.discount_amount = this.priceInfo.summary.discount
			this.couponCodes = this.priceInfo.place.codes
			
			this.initialize()
			this.verify_coupon(0,0)
		},
		
		methods: {
			initialize(){
				// 获取用户的分组优惠券
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.couponList,
					method: 'GET',
					data: {
						used: 0,
						shop_id: this.shop_id,
						shipping_type: this.shipping_type,
						promo_code: this.code
					},
					success: res => {
						console.log('分组优惠', res.data.data);
						this.discount = res.data.data
						this.autoChecked();
					},
					fail: () => {},
					complete: () => {
					}
				});
			},
			
			// 自动选中已使用的优惠券
			autoChecked(){
				var that = this
				this.discount.forEach(function(e){
					if (typeof(that.priceInfo.discount.normal_discount) != 'undefined' && e.discount_group == 'normal_discount') {
						e.coupons.forEach(function(coupon){
							if (coupon.code == that.priceInfo.discount.normal_discount[0].coupon.code) {
								console.log(coupon);
								coupon.checked = 1
							}
						})
					}else if (typeof(that.priceInfo.discount.member_discount) != 'undefined' && e.discount_group == 'member_discount') {
						e.coupons.forEach(function(coupon){
							if (coupon.code == that.priceInfo.discount.member_discount[0].coupon.code) {
								console.log(coupon);
								coupon.checked = 1
							}
						})
					}else if (typeof(that.priceInfo.discount.overlap_discount) != 'undefined' && e.discount_group == 'overlap_discount') {
						e.coupons.forEach(function(coupon){
							if (coupon.code == that.priceInfo.discount.overlap_discount[0].coupon.code) {
								coupon.checked = 1
							}
						})
					}else if (typeof(that.priceInfo.discount.internal_discount) != 'undefined' && e.discount_group == 'internal_discount') {
						e.coupons.forEach(function(coupon){
							if (coupon.code == that.priceInfo.discount.internal_discount[0].coupon.code) {
								coupon.checked = 1
							}
						})
					}
				})
				this.$forceUpdate();
			},
			
			// 优惠券选项改变
			optionRadioChange(i, index){
				console.log(i, index);
				this.discount[i].coupons.forEach(e => e.checked = 0)
				this.discount[i].coupons[index].checked = 1
				this.recalculateCoupon(i, index);
				this.$forceUpdate();
			},
			
			// 重新计算优惠
			recalculateCoupon(i, index){
				var codes = []
				this.discount.forEach(function(e){
					e.coupons.forEach(function(coupon){
						if (coupon.checked == 1) {
							codes.push(coupon.code)
						}
					})
				})
				this.couponCodes = codes.toString()
				console.log(codes);
				this.verify_coupon(i, index)
			},
			
			verify_coupon(i, index){
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.verify_coupon,
					method: 'POST',
					data: {
						shop_id: this.shop_id,
						shipping_type: this.shipping_type,
						subtotal: parseFloat(this.priceInfo.summary.subtotal),
						promo_codes: this.couponCodes,
						// open_membership: 0,
						auto_match: 0,
						product_items: JSON.stringify(this.shoppingCart),
					},
					success: res => {
						console.log('计算多个优惠码折扣', res.data.data);
						if (res.data.status == 1) {
							this.validate_coupons = res.data.data
							this.coupon_count = res.data.data.summary.coupon_count
							this.discount_amount = res.data.data.summary.discount
						}else{
							uni.showToast({
								title: res.data.error,
								icon: 'none',
								mask: true,
							});
							this.discount[i].coupons[index].checked = 0
						}
						this.$forceUpdate()
						console.log(this.discount[i].coupons[index]);
					},
					fail: () => {},
					complete: () => {}
				});
			},
			
			// 根据优惠码获取折扣
			checkPromo(e){
				console.log(e);
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.promocode,
					method: 'POST',
					data: {
						code: this.code,
						// code: 'FS104280',
						code_type: 'coupon_code',
						customer_id: uni.getStorageSync('userInfo').cid,
						shop_id: this.shop_id,
					},
					success: res => {
						// 优惠码使用成功
						console.log('优惠劵', res);
						if (res.data.status == 1) {
							// 关闭弹出层
							this.show = false
							// 重新获取优惠券列表给用户选择
							this.initialize()
							uni.showToast({
								title: res.data.data.desc,
								icon: 'none'
							});
						}else{
							// 优惠码无效
							uni.showToast({
								title: res.data.error,
								icon: 'none'
							});
						}
					},
					fail: () => {},
					complete: () => {}
				});
			},
			
			// 确认折扣
			confirmDiscount(){
				let pages = getCurrentPages();             //获取所有页面栈实例列表
				let nowPage = pages[ pages.length - 1];    //当前页页面实例
				let prevPage = pages[ pages.length - 2 ];  //上一页页面实例
				
				if (this.validate_coupons != null) {
					// 重新显示折扣并且计算价格
					// 更新优惠码
					prevPage.$vm.coupon_code = this.couponCodes.toString()
					prevPage.$vm.calculateTotal();
				}
				
				uni.navigateBack({ 	
					//uni.navigateTo跳转的返回，默认1为返回上一级
					delta: 1
				});
			},
			
			//弹出优惠码输入
			popupSwitch(e){
				this.show = true
				setTimeout(function() {
					this.autoFocus = true
				}, 500);
			},
			
			//优惠码
			codeInput(e){
				this.code = e.detail.value
			},
			
			// 清楚输入的优惠码
			clearCode(){
				this.code = ''
				this.$forceUpdate()
				console.log(this.code);
			}
		}
	} 
</script>

<style>
	.apply{
		background-color: #FF5722;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 90rpx;
		height: 80rpx;
		width: 250rpx;
	}
	.couponInput{
		margin: 60rpx 0rpx;
		padding: 10rpx 40rpx;
		border-radius: 30rpx;
		width: 400rpx;
		height: 80rpx;
		background-color: #F5F5F5;
		font-size: larger;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.box{
		background-color: #FFFFFF;
		height: 500rpx;
		width: 100%;
		border-radius: 30rpx;
		z-index: 10000;
	}
	.grayText{
		font-size: smaller;
		color: #999999;
	}
	.options{
		position: relative;
		overflow: hidden;
		margin-top: 20rpx;
		padding: 20rpx 30rpx;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 200rpx;
		border-radius: 20rpx;
		box-shadow: 0px 0px 1px 2px #F0F0F0;
		/* background: radial-gradient(circle at 0 51px, transparent 15px, #fff 6px) top left, linear-gradient(0.25turn, #fff, #fff), radial-gradient(circle at 18px 51px, transparent 15px, #fff 16px) bottom right;
	    background-size: 17px 100px, 150px 100px, 17px 100px;
	    background-repeat: no-repeat;
  	    background-position: 0px 0px,0px 0px,0px 0px; */
	}
	.options .con{
		position: absolute;    /*绝对定位*/
		height: 85rpx;
		width: 85rpx;
		background-color: #FF5722;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		left: -50rpx;
		top: -50rpx;
	}
	.calculate{
		align-items: center;
		justify-content: center;
		background-color: #FF5722;
		color: #FFFFFF;
		padding: 20rpx;
		border-radius: 98rpx;
	}
	.confirm{
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		color: #FFFFFF;
		align-items: center;
		justify-content: center;
		background-color: #FF5722;
		border-radius: 98rpx;
		right: 20rpx;
		width: 200rpx;
		height: 100rpx;
	}
	.tabbar {
		padding: 5rpx 20rpx;
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: #000000;
		border-radius: 98rpx;
		left: 20rpx;
		width: 500rpx;
		height: 100rpx;
	}
	.coupon_icon{
		height: 40rpx;
		width: 40rpx;
	}
	.coupon_row{
		display: flex;
		flex-direction: row;
		margin-bottom: 10rpx;
		align-items: center;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.col{
		display: flex;
		flex-direction: column;
	}
	.options .con1{
		position: absolute;    /*绝对定位*/
		height: 85rpx;
		width: 85rpx;
		background-color: #FFD907;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		left: -50rpx;
		top: -50rpx;
	}
	.options .con2{
		position: absolute;    /*绝对定位*/
		height: 85rpx;
		width: 85rpx;
		background-color: #78E0DC;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		left: -50rpx;
		top: -50rpx;
	}
</style>
