<template>
	<view>
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">
			<!-- 步骤条 -->
			<u-steps style="margin: 40rpx 0rpx;" :list="stepList" :current="status" activeColor="#FF8161" mode="number"></u-steps>
			
			<!-- 顶部卡片 -->
			<view  v-if="orderInfo.redeem_info.qrcode_url!=''" class="card" style="padding: 20rpx 40rpx;">
				<view style="display: flex;justify-content: center;flex-direction: column;">
					<view class="confirmText" :style="{'color': fontColor}">
						长按保存图片
					</view>
					<!-- 二维码 -->
					<view @longpress="saveImg()">
						<image :src="orderInfo.redeem_info.qrcode_url" mode="scaleToFill" style="height: 600rpx;width: 600rpx;"></image>
					</view>
				</view>
			</view>
			
			<!-- 订单详情 -->
			<view class="card">
				<view class="top">
					<view class="row" style="align-items: center;">
						<text class="name">{{orderInfo.shop_name}}</text>
					</view>
					<text v-if="orderInfo.order_type == 'normal'" class="type">外卖配送</text>
					<text v-else-if="orderInfo.order_type == 'redeem'" class="type">到店自取</text>
				</view>
				
				<view class="row" style="padding: 30rpx;justify-content: space-between;">
					<view class="left">
						<text class="text">订单编号:   {{orderInfo.order_id}}</text> 
						<text class="text" style="margin: 15rpx 0rpx;">下单时间:   {{orderInfo.order_time}}</text>
						<view class="row">	
							<text v-if="orderInfo.status==-1" class="text">订单状态:   已取消</text>
							<text v-else-if="orderInfo.status==1" class="text">订单状态:   等待付款</text>
							<text v-else-if="orderInfo.status==10" class="text">订单状态:   已确认</text>
							<text v-else-if="orderInfo.status==0" class="text">订单状态:   进行中</text>
							<text v-else-if="orderInfo.status==20" class="text">订单状态:   已完成</text>
							<text v-else-if="orderInfo.status==11" class="text">订单状态:   取餐中</text>
							<text v-else-if="orderInfo.status==-10" class="text">订单状态:   预订单</text>
							<text v-else-if="orderInfo.status==-30" class="text">订单状态:   拼单</text>
							<text v-else-if="orderInfo.status==11" class="text">订单状态:   已取餐</text>
							<text v-else-if="orderInfo.status==15" class="text">订单状态:   正在配送</text>
							<!-- 分隔号 -->
							<text style="margin: 0rpx 10rpx;color: #F0F0F0;">|</text>
							<!-- 支付状态 -->
							<text v-if="orderInfo.payment_status==-1||orderInfo.payment_status==0" class="text">支付状态:   未支付</text>
							<text v-else-if="orderInfo.payment_status==10" class="text">支付状态:   预支付</text>
							<text v-else-if="orderInfo.payment_status==20" class="text">支付状态:   已支付</text>
							<text v-else-if="orderInfo.payment_status==30" class="text">支付状态:   退款</text>
							<text v-else-if="orderInfo.payment_status==99" class="text">支付状态:   支付失败</text>
						</view>
					</view>
					
					<view class="right">
						<!-- 支付 -->
						<picker mode="selector" :range="array" @change="choosePaymentType">
							<view v-if="orderInfo.payment_status==0&&orderInfo.payment_type!='cashpay'" class="phoneCall">
								<image src="../../static/image/pay.png" mode="aspectFill" style="height: 40rpx;width: 40rpx;"></image>
								<text style="margin-left: 10rpx;color: #FFFFFF;font-size: small;">去支付</text>
							</view>
						</picker>
						
						<!-- 发票 -->
						<view v-if="orderInfo.status==20" class="phoneCall" @click="receipt" style="background-color: #F5F5F5;width: 150rpx;height: 50rpx;">
							<image src="../../static/image/receipt.png" mode="aspectFill" style="height: 30rpx;width: 30rpx;"></image>
							<text style="margin-left: 10rpx;display: flex;flex-direction: row;color: #000000;
							font-size: smaller;font-weight: 300;">发票</text>
						</view>
						<!-- 价格 -->
						<text class="price">${{orderInfo.order_total}}</text>
					</view>
				</view>
				<!-- 再来一份和点评按钮 -->
				<view v-if="orderInfo.status==20" class="row" style="justify-content: space-evenly;width: 100%;margin-bottom: 30rpx;">
					<!-- 再来一份 -->
					<view class="phoneCall" @click="oneMore" style="background-color: #F5F5F5;color: #000000;">
						<image src="../../static/image/add.png" mode="aspectFill" style="height: 30rpx;width: 30rpx;"></image>
						<text style="margin-left: 10rpx;display: flex;flex-direction: row;
						font-size: small;">再来一份</text>
					</view>
					<!-- 点评 -->
					<view v-if="orderInfo.is_rating==0" class="phoneCall" @click="rate">
						<image src="../../static/image/rate.png" mode="aspectFill" style="height: 30rpx;width: 30rpx;"></image>
						<text style="margin-left: 10rpx;display: flex;font-size: small;
						flex-direction: row;">点评</text>
					</view>
				</view>
			</view>
			
			<!-- 产品内容 -->
			<view class="topcard" style="padding-bottom: 0rpx;">
				<view class="row" style="justify-content: space-between;background-color: #F5F5F5;padding: 20rpx 30rpx;">
					<view style="font-size: larger;font-weight: 400;white-space: nowrap;overflow: hidden;
					text-overflow: ellipsis;width: 70%;">{{orderInfo.shop_name}}</view>
				</view>
				
				<view style="padding: 10rpx 30rpx; padding-top: 20rpx;">
					<view v-for="(item, index) in orderInfo.order_items" :key="index" style="padding-bottom: 20rpx;">
						<view class="cartItem">
							<view class="row" style="align-items: center;">
								<view class="qty">{{item.qty}}</view>
								<text style="margin-left: 10rpx;width: 450rpx;">{{item.name}}</text>
							</view>
							<view>${{item.price}}</view>
						</view>
						<view v-for="(ite, ind) in item.options" :key="ind">
							<view v-for="(it, i) in ite.items" :key="i">
								<view v-if="it.checked === 1" style="font-weight: 300;font-size: small;padding: 3rpx;">
									{{it.name}} × {{it.qty}}( ${{it.price*it.qty}} )
								</view>
							</view>
						</view>
					</view>
				</view>
				<view class="input">{{orderInfo.customer_note=="" ? '无备注' : orderInfo.customer_note}}</view>
			</view>
		
			<!-- 价格详情 -->
			<view class="card" style="padding: 20rpx 30rpx;">
				
				<view class="con">
					<view>产品价</view>
					<view>${{orderInfo.order_subtotal}}</view>
				</view>
				
				<view class="con" v-show="orderInfo.shipping_fee != 0">
					<view>配送服务费</view>
					<view style="display: flex;flex-direction: row;">
						<view>${{orderInfo.shipping_fee}}</view>
					</view>
				</view>
				
				<view class="con">
					<view>HST</view>
					<view>${{orderInfo.order_tax}}</view>
				</view>
				
				<view class="con" v-if="orderInfo.tips_amount!=0">
					<view>小费</view>
					<view>${{orderInfo.tips_amount}}</view>
				</view>
				
				<view class="con" v-if="orderInfo.order_discount!=0">
					<view>优惠折扣</view>
					<view>-${{orderInfo.order_discount}}</view>
				</view>
				
				<view class="con" v-if="orderInfo.payment_fee!=0">
					<view class="row">
						<view>服务费</view>
						<image @click="explain_fee" src="../../static/image/fee.png" mode="aspectFill" 
						style="margin-left: 10rpx;" class="img"></image>
					</view>
					<view>${{orderInfo.payment_fee}}</view>
				</view>
				
				<view style="display: flex;flex-direction: row;justify-content: space-between;
				padding: 20rpx 0rpx;border-top: 1px dashed #999;margin-top: 20rpx;">
					<view style="font-weight: 400;">总计</view>
					<view style="font-weight: 500;font-size: large;">${{orderInfo.order_total}}</view>
				</view>
			</view>
			
			<!-- 用户信息 -->
			<view v-if="orderInfo.shipping_type=='delivery'" class="card" style="padding: 20rpx 30rpx;">
				<text>预计出餐时间: {{orderInfo.expectant_delivered_at}}</text>
				<text style="margin: 10rpx 0rpx;">{{orderInfo.customer_addr}}</text>
				<text style="font-size: small;color: #999999;font-weight: 300;">{{orderInfo.customer_tel}}</text>
			</view>
			
			<!-- 优惠劵记录 -->
			<view class="topcard" v-if="orderInfo.coupon_logs.length!=0">
				<view style="background-color: #F5F5F5;padding: 20rpx;30rpx;font-weight: 500;">优惠劵记录</view>
				<view style="padding: 20rpx 30rpx;">
					<view v-for="(item, index) in orderInfo.coupon_logs" :key="index">
						<text style="font-weight: 300;padding-bottom: 10rpx;">{{item}}</text>
					</view>
				</view>
			</view>
			
			<!-- 留白 -->
			<view style="height: 120rpx;"></view>
		
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				loading: false,
				fontColor: '#228B22',
				array: ['微信支付', '在线支付'],
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
				stepList: [{
					name: '已确认'
				}, {
					name: '已出餐'
				}, {
					name: '已送达'
				}, {
					name: '已完成'
				}, ],
				array: ['微信支付', '在线支付'],
				order_id: null,
				orderInfo: null,
				status: -1,
				order_id: null,
			}
		},
		
		onLoad(e) {
			this.order_id = e.order_id
			// this.initialize()
		},
		
		onShow() {
			this.initialize()
		},
		
		methods: {
			// 初始化
			initialize(){
				this.loading = true				
				// 获取订单详情
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.order_detail,
					method: 'GET',
					data: {
						order_id : this.order_id
					},
					success: res => {
						console.log('订单详情', res.data.data)
						if(res.data.status == 1){
							//记录下订单信息
							this.orderInfo = res.data.data
							this.getStatus()
						}
					},
					complete: () => {
						this.loading = false
					}
				})
			},
			
			// 若未付款则显示付款按钮（不是现金单）
			// 选择支付方式付款
			choosePaymentType(e){
				var that = this
				console.log(e.detail.value);
				uni.showLoading({
					title: '处理中',
					mask: true,
				})
				// 付款方式
				if (e.detail.value == 0) {
					// 调用snappay获取预支付信息
					uni.request({
						// url: getApp().globalData.SandboxServer + getApp().globalData.snappay,
						url: getApp().globalData.FormalServer + getApp().globalData.snappay,
						method: 'GET',
						data: {
							order_id: this.orderInfo.order_id,
							pay_user_account_id: uni.getStorageSync('openId'),
							appid: 'wxbe3f4ff53c3805ab',
						},
						success: res => {
							console.log('snappay支付信息' ,res);
							uni.hideLoading();
							//拿到预支付信息后调起微信支付
							uni.requestPayment({
								provider: 'wxpay',
								signType: res.data.data.request_payment.signType,
								paySign: res.data.data.request_payment.paySign,
								package: res.data.data.request_payment.package,
								nonceStr: res.data.data.request_payment.nonceStr,
								timeStamp: res.data.data.request_payment.timeStamp,
								success: res => {
									console.log('微信支付成功' ,res);
									// 付款成功后跳转
									uni.showToast({
										title: '支付成功',
										// 支付成功刷新订单详情页
										success: function() {
											that.initialize()
										}
									});
								},
								fail: (res) => {
									console.log('微信支付失败' ,res);
									if (res.errMsg == 'requestPayment:fail cancel') {
										uni.showToast({
											icon: 'none',
											title: '您取消了付款'
										})
									}else{
										uni.showToast({
											icon: 'none',
											title: '付款失败，请重试'
										})
									}
								},
								complete: () => {}
							});
						},
						fail: () => {},
						complete: () => {}
					});
				}else if(e.detail.value == 1){
					uni.hideLoading();
					//在线支付
					uni.navigateTo({
						url: '../payment/payment?type=pay&order_id=' + this.order_id,
					})
				}
			},
			
			//点评
			rate(){
				uni.navigateTo({
					url: '../rate/rate?name=' + this.orderInfo.shop_name + '&img=' + this.orderInfo.shop_thumb + '&oid=' + this.orderInfo.order_id
				})
			},
			
			// 判断订单状态
			getStatus(){
				let status = this.orderInfo.status
				if (status == -20 || status==1 || status==0){
					this.status = 0
				}else if(status == 10||status==11||status==12||status==15){
					this.status = 1
				}else if(status == 20){
					this.status = 3
				}
			},
			
			// 保存图片
			saveImg(){
				uni.showModal({
					title: '图片保存',
					content: '确定要保存图片吗',
					success: e => {
						console.log(e);
						if (e.confirm) {
							uni.downloadFile({      //下载图片
								url: this.orderInfo.redeem_info.qrcode_url,
								success:(res)=>{
									console.log(res.tempFilePath)
									uni.saveImageToPhotosAlbum({     //将图片保存在手机
										filePath:res.tempFilePath,     //保存的位置
										success: (res) => {
											console.log('长按保存图片', res)
										}
									})
								}
							})
						}
					}
				});
				
			},
			
			// 再来一单
			oneMore(){
				uni.navigateTo({
					url: '../menu/menu?mid=' + this.orderInfo.shop_id,
				});
			},
			
			// 发票
			receipt(){
				uni.navigateTo({
					url: '../receipt/receipt?order_id=' + this.orderInfo.order_id,
				});
			},
			
			// 解释手续费
			explain_fee(){
				uni.showModal({
					title: '通知',
					content: '包含支付手续费和附加服务费',
					showCancel: false,
					confirmText: 'Okay',
					confirmColor: '#FF8161'
				});
			},
		}
	}
</script>

<style>
	.confirmText {
		font-size: x-large;
		font-weight: 700;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.img{
		width: 40rpx;
		height: 40rpx;
	}
	.qty{
		background-color: #FF8161;
		color: #FFFFFF;
		border-radius: 6rpx;
		width: 30rpx;
		height: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: small;
	}
	.input{
		padding: 20rpx 30rpx;
		background-color: #F5F5F5;
	}
	.cartItem{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.topcard{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding-bottom: 20rpx;
	}
	.con{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20rpx 0rpx;
		font-weight: 300;
		font-size: small;
	}
	.phoneCall{
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 70rpx;
		width: 180rpx;
		border-radius: 90rpx;
		box-shadow: 0px 0px 1px 1px #DDDDDD;
		white-space: nowrap;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.price{
		font-size: large;
		font-weight: bold;
		white-space: nowrap;
	}
	.text{
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
	}
	.left{
		display: flex;
		flex-direction: column;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.type{
		white-space: nowrap;
		color: #999999;
		font-weight: 300;
	}
	.name{
		width: 500rpx;
		padding: 0rpx 10rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: large;
		font-weight: 500;
	}
	.top{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		padding: 10rpx 20rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
</style>
