<template>
	<view style="padding: 0rpx 30rpx; padding-bottom: 30rpx;">
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">
			<!-- 顶部头像和用户名 -->
			<view class="row" style="margin-top: 20rpx;">
				<image v-if="loginStatus" :src="userDetail.avatar" class="img" mode="aspectFill"></image>
				<view v-else class="bc">
					<image class="baby" src="../../static/image/baby.png" mode="aspectFit"></image>
				</view>
				
				<view v-if="loginStatus" class="col" style="margin-left: 30rpx;">
					<text style="font-size: x-large;font-weight: bold;">{{userDetail.name=='' ? userDetail.username : userDetail.name}}</text>
					<view class="row" style="margin-top: 20rpx;">
						<image src="../../static/image/user.png" style="height: 30rpx;width: 30rpx;"></image>
						<text style="font-weight: 300;margin-left: 10rpx;font-size: small;">会员号: {{userDetail.cid}}</text>
					</view>
				</view>
				<view v-else-if="!loginStatus" style="font-size: x-large;font-weight: bold;margin-left: 30rpx;"
				@click="gotoLogin">立即登录</view>
			</view>

			<!-- 显示用户余额和积分 -->
			<view class="row" style="width: 100%;margin-top: 30rpx;">
				<view class="balance">
					<text v-if="loginStatus">${{userDetail.deposit}}</text>
					<text v-else>$0</text>
					<text class="text">余额</text>
				</view>
				<view class="balance" style="border-left: 1px solid #F0F0F0;border-right: 2px solid #F0F0F0;">
					<text v-if="loginStatus">{{userDetail.credit}}</text>
					<text v-else>0</text>
					<text class="text">积分</text>
				</view>
				<view class="balance">
					<text v-if="loginStatus">{{userDetail.coupons_count}}</text>
					<text v-else>0</text>
					<text class="text">优惠券</text>
				</view>
			</view>

			<!-- 用户修改信息的入口 -->
			<view class="card">
				<view class="entrance" @click="gotoOrder">
					<image src="../../static/image/myOrder.png" class="orderIcon" mode="aspectFill"></image>
					<text class="text" style="margin-top: 10rpx;">历史订单</text>
				</view>
				<view class="entrance" @click="gotoCoupon">
					<image src="../../static/image/myCoupon.png" class="orderIcon" mode="aspectFill"></image>
					<text class="text" style="margin-top: 10rpx;">我的优惠券</text>
				</view>
				<view class="entrance" @click="gotoAddressList">
					<image src="../../static/image/myAddress.png" class="orderIcon" mode="aspectFill"></image>
					<text class="text" style="margin-top: 10rpx;">我的地址</text>
				</view>
				<view class="entrance" @click="gotoCreditCard">
					<image src="../../static/image/myCard.png" class="orderIcon" mode="aspectFill"></image>
					<text class="text" style="margin-top: 10rpx;">我的信用卡</text>
				</view>
			</view>

			<!-- 邀请好友 -->
			<button type="warn" open-type="share" class="btn">
				<image src="../../static/image/addFriend.png" mode="aspectFill" style="width: 40rpx;height: 40rpx;margin-right: 20rpx;"></image>
				邀请好友得$15元优惠
			</button>

			<!-- 额外功能 -->
			<uni-list>
				<uni-list-item title="在线客服" thumb="../../static/image/chat.png" thumb-size="lg" clickable @click="chat"></uni-list-item>
				<uni-list-item title="成为司机" thumb="../../static/image/driver.png" thumb-size="lg" clickable @click="become_driver"></uni-list-item>
				<uni-list-item title="关于我们" thumb="../../static/image/aboutus.png" thumb-size="lg" clickable @click="aboutus"></uni-list-item>
				<uni-list-item title="商家加盟" thumb="../../static/image/hand.png" thumb-size="lg" clickable @click="join"></uni-list-item>
			</uni-list>
			
			<!-- 注销 -->
			<button class="logout" @click="logout">注销</button>
		</view>
	</view>
</template>

<script>
	import cookies from 'weapp-cookie'
	
	export default {
		data() {
			return {
				loginStatus: false,
				userDetail: null,
				loading: true,
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
			}
		},

		onLoad() {
			// this.reload()
		},
		
		onShow() {
			console.log('onshow');
			this.loading = true
			this.reload()
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 400)
		},
		
		// 设置页面的分享信息
		onShareAppMessage() {
			return {
			  title: '小红车外卖',
			  path: '/pages/index/index',
			  imageUrl: '../../static/image/img.jpg',
			}
		},

		methods: {
			reload(){
				this.loginStatus = getApp().globalData.loginStatus
				if (this.loginStatus) {
					//已登录
					uni.request({
						url: getApp().globalData.FormalServer + getApp().globalData.userDetail,
						method: 'GET',
						data: {
							cid: uni.getStorageSync('userInfo').cid
						},
						success: res => {
							this.userDetail = res.data.data
							console.log('用户信息', this.userDetail);
						},
						fail: () => {},
						complete: () => {}
					});
				}
				this.$forceUpdate()
			},
			
			// 去登录
			gotoLogin(){
				uni.navigateTo({
					url: '../login/login',
				});
			},
			
			// 查看信用卡
			gotoCreditCard(){
				this.loginStatus ? (
				uni.navigateTo({
					url: '../CreditCardList/CreditCardList',
				})) : this.gotoLogin()
			},
			
			// 查看地址列表
			gotoAddressList(){
				this.loginStatus ? (
				uni.navigateTo({
					url: '../addressList/addressList?type=edit',
				})) : this.gotoLogin()
			},
			
			// 查看优惠券
			gotoCoupon(){
				this.loginStatus ? (
				uni.navigateTo({
					url: '../coupon/coupon?type=user',
				})) : this.gotoLogin()
			},
			
			//历史订单
			gotoOrder(){
				this.loginStatus ? (
				uni.switchTab({
					url: '../order/order'
				})) : this.gotoLogin()
			},
			
			// 在线客服
			chat(e) {
				!this.loginStatus ? (
				uni.navigateTo({
					url: '../ContactUS/ContactUS',
				})) : this.gotoLogin()
			},

			// 成为司机
			become_driver(e) {
				console.log(e);
				uni.navigateTo({
					url: '../webView/webView?url=driver',
				});
			},

			// 关于我们
			aboutus(e) {
				uni.navigateTo({
					url: '../aboutUs/aboutUs',
				});
			},

			// 商家加盟
			join(e) {
				uni.navigateTo({
					url: '../webView/webView?url=merchant',
				});
			},
			
			// 注销
			logout(){
				getApp().globalData.loginStatus = false
				// let token = cookies.get('foodhwy_token')
				// console.log(token);

				cookies.remove('foodhwy_token')
				
				uni.clearStorage('userInfo')
				uni.clearStorage('deliveryInfo')
				uni.clearStorage('username')
				this.reload()
				uni.showToast({
					title: '已登出',
					icon: 'none',
				});
			}
		}
	}
</script>

<style>
	.baby{
		border-radius: 98rpx;
		height: 110rpx;
		width: 110rpx;
	}
	.bc{
		margin-left: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 98rpx;
		height: 130rpx;
		width: 130rpx;
		background-color: #F0F0F0;
	}
	.logout{
		margin-top: 100rpx;
		border: none;
		background-color: #F5F5F5;
		font-weight: 300;
	}
	.btn {
		display: flex;
		flex-direction: row;
		color: #FFFFFF;
		/* font-size: large; */
		align-items: center;
		justify-content: center;
		font-weight: 300;
		margin-bottom: 80rpx;
	}

	.orderIcon {
		height: 60rpx;
		width: 60rpx;
	}

	.entrance {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		padding: 30rpx 0rpx;
	}

	.card {
		display: flex;
		flex-direction: row;
		border-radius: 30rpx;
		box-shadow: 0px 0px 2px 2px #F0F0F0;
		margin: 50rpx 0rpx;
		align-items: center;
		justify-content: space-evenly;
	}

	.text {
		margin-top: 5rpx;
		font-size: small;
		font-weight: 300;
	}

	.balance {
		display: flex;
		flex-direction: column;
		width: 33%;
		height: 80rpx;
		align-items: center;
		justify-content: center;
	}

	.img {
		border-radius: 98rpx;
		height: 150rpx;
		width: 150rpx;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.col {
		display: flex;
		flex-direction: column;
	}
</style>
