<template>
	<view>
		
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">

			<view v-if="empty" style="width: 100%;height: 100%;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;">
				<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
				<text style="color: #999999;font-size: larger;">您还没有地址</text>
			</view>
			
			<view v-if="!empty">
				<view v-for="(item, index) in addressList" :key="index">
					<uni-swipe-action :autoClose="true">
						<uni-swipe-action-item :options="options"  @click="onClick" @change="change(index)">
								<view class='cont' @click="clickAddress(index)">
									<image src="../../static/image/address.png" mode="scaleToFill" class="icon"></image>
									<view style="float:left;width: 1px;height: 120rpx; background: #F8F8F8; margin-left: 20rpx;"></view>
									<view class="info">
										<view class="bold">
											{{item.address}}
										</view>
										<view style="margin-top: 30rpx;">
											<view class="grey">
												{{item.name}}
											</view>
											<view class="grey">
												{{item.tel}}
											</view>
										</view>
									</view>
									<image src="../../static/image/pen.png" mode="scaleToFill" @click.stop="editAddress(index)" style="margin-left: 10rpx;height: 50rpx;width: 50rpx;"></image>
								</view>
						   </uni-swipe-action-item>
						</uni-swipe-action>
				</view>
				
				<view style="height: 200rpx;"></view>
			</view>
			
			
			<view class="btn" @click="addAddress">添加地址</view>
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				loading: true,
				type: null,
				addressList: null,
				swipeIndex: null,
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
				options:[
				        {
				            text: '编辑',
				            style: {
				                backgroundColor: '#C7C6CD'
				            }
				        }, {
				            text: '删除',
				            style: {
				                backgroundColor: '#dd524d'
				            }
				        }
				      ]
			}
		},
		
		onLoad(e) {
			// console.log(e);
			this.type = e.type
		},
		
		onShow() {
			this.loading = true
			uni.request({
				url: getApp().globalData.FormalServer + getApp().globalData.addressList,
				method: 'GET',
				success: res => {
					console.log('地址列表', res.data.data);
					this.addressList = res.data.data
					this.addressList.length == 0 ? this.empty = true : ''
					// console.log(this.addressList);
				},
			});
			getApp().globalData.editAddress = null;
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 500)
		},
		
		methods: {
			// 往右滑动的事件
			change: function(index){
				this.swipeIndex = index
			},
			
			// 点击地址,根据type来分辨是选择地址还是编辑地址
			clickAddress(index){
				if (this.type == 'select') {
					this.chooseAddress(index)
				}else if(this.type == 'edit'){
					this.editAddress(index)
				}
			},
			
			// 编辑地址
			editAddress(index){
				getApp().globalData.editAddress = this.addressList[index]
				uni.navigateTo({
					url: '../address/address',
				});
			},
			
			// 选择编辑或者删除
			onClick: function(e){
				console.log(e);
				if (e.index === 0) {	//编辑
					this.editAddress(this.swipeIndex)
				} else{	//删除
					uni.request({
						url: getApp().globalData.FormalServer + getApp().globalData.deleteAddress,
						method: 'POST',
						data: {id: this.addressList[this.swipeIndex].id},
						success: res => {
							console.log(res);
							if (res.statusCode == 200) {
								uni.showToast({
									icon: 'none',
									title: '删除成功',
									duration: 1000
								});
								this.addressList.splice(this.swipeIndex, 1)
							}
						},
					});
				}
			},
			
			// 选择地址
			chooseAddress: function(index){
				this.storeInfo = getApp().globalData.storeInfo
				//计算顾客地址是否超过配送范围
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.getCustomerCity,
					method: 'GET',
					data: {
						address: this.addressList[index].address,
						shop_latlng: this.storeInfo.lat + ',' + this.storeInfo.lon,
						ds_id: this.storeInfo.delivery_setting_ids,
					},
					success: res => {
						console.log('是否超过配送范围', res);
						if (res.data.data.city_id === 0) {
							// city_id等于0时表示超出送餐范围
							uni.showToast({
								title: '地址不在送餐范围内！',
								icon: 'none'
							});
						}else{
							//在配送范围内
							uni.setStorage({
								key: 'deliveryInfo',
								data: this.addressList[index]
							})
							console.log(uni.getStorageSync('deliveryInfo'));
							
							uni.navigateTo({
								url: '../confirm/confirm',
							});
						}
					},
				});
			},
			
			// 编辑地址
			editAddress: function(e){
				console.log(this.addressList[e]);
				getApp().globalData.editAddress = this.addressList[e];
		
				uni.navigateTo({
					url: '../address/address',
				});
			},
			
			// 添加地址
			addAddress: function(e){
				console.log(e);
				uni.navigateTo({
					url: '../address/address',
				});
			},
			
		}
	}
</script>

<style>
	.cont{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 175rpx;
		margin: 15rpx 40rpx;
		margin-top: 20rpx;
		padding: 20rpx;
		border-radius: 15rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}
	.icon{
		height: 80rpx;
		width: 80rpx;
	}
	.info{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20rpx;
	}
	.bold{
		width: 450rpx;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.grey{
		color: #999999;
		font-size: smaller;
	}
	.btn{
		font-size: larger;
		font-weight: bold;
		position: fixed;
		bottom: 30rpx;
		left: 20rpx;
		right: 20rpx;
		color: #FFFFFF;
		height: 100rpx;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
</style>
