<template>
	<view>
		<!-- 名字 -->
		<view class="input" style="margin-top: 20rpx;">
			<uni-icons class="icon" size="30" type="person"></uni-icons>
			<input @input="getname" type="text" v-model="name" placeholder="您的称呼" placeholder-style="font-size: large;" 
		    confirm-type="next"	style="font-size: large;width: 550rpx;" />
		</view>

		<!-- 电话 -->
		<view class="input" style="margin-top: 20rpx;">
			<uni-icons class="icon" size="28" type="phone"></uni-icons>
			<input @input="getphone" type="number" v-model="phone" placeholder="联系电话" placeholder-style="font-size: large;"
			confirm-type="next"	style="font-size: large;width: 550rpx;" />
		</view>

		<!-- 地址 -->
		<view class="input" style="margin-top: 20rpx;justify-content: space-between;">
			<view style="display: flex;flex-direction: row;align-items: center;">
				<uni-icons class="icon" size="28" type="location"></uni-icons>
				<input @input="getaddress" style="width: 480rpx;font-size: large;" type="text" v-model="address" placeholder="您的送餐地址"
				confirm-type="next" placeholder-style="font-size: large;" />
			</view>
			<image src="../../static/image/clear.png" mode="aspectFit" style="height: 30rpx;width: 30rpx;padding-right: 20rpx;" @click="clearAddress"></image>
		</view>
		
		<!-- 搜索出来的地址结果 -->
		<view class="result-container" v-if="show==true" :style="{'top': result_top + 'px'}">
			<scroll-view scroll-y="true" style="height: 250rpx;">
				<block v-for="(item,index) in locationList" :key="locationList">
					<view class="search-result" @click="chooseAddr" :data-key="item.description">{{item.description}}
					</view>
				</block>
			</scroll-view>
		</view>

		<!-- 单元号 -->
		<view class="input" style="margin-top: 20rpx;">
			<uni-icons class="icon" size="28" type="home"></uni-icons>
			<input @input="getunit" type="text" v-model="unit" placeholder="单元号 (选填)" placeholder-style="font-size: large;"
			confirm-type="next"	 style="font-size: large;width: 550rpx;" />
		</view>

		<!-- 门禁密码 -->
		<view class="input" style="margin-top: 20rpx;">
			<uni-icons class="icon" size="28" type="locked"></uni-icons>
			<input @input="getcode" type="text" v-model="code" placeholder="门禁密码 (选填)" placeholder-style="font-size: large;"
			 style="font-size: large;width: 550rpx;" />
		</view>

		<!-- 地图 -->
		<view style="display: flex; justify-content: center;margin-top: 30rpx;padding-bottom: 100rpx;flex-shrink: 0;">
			<map :latitude="latitude" :longitude="longitude" :markers="covers"
			 	:show-location="true" style="height: 250px;width: 90%;"></map>
		</view>

		<view class="redbtn" @click="addAddress">保存</view>
		<view v-if="addressInfo!=null" class="btn" @click="deleteAddress">删除地址</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				result_top: 0,
				show: false,
				locationList: [],
				addressInfo: null,
				address: "",
				name: "",
				phone: "",
				unit: "",
				code: "",
				latitude: null,
				longitude: null,
				covers: [],
			}
		},

		onLoad(e) {
			if (getApp().globalData.editAddress != null) { //更新地址
				this.addressInfo = getApp().globalData.editAddress;
				console.log(this.addressInfo);
				this.name = this.addressInfo.name;
				this.phone = this.addressInfo.tel;
				this.address = this.addressInfo.address;
				this.unit = this.addressInfo.unit;
				this.code = this.addressInfo.buzz_code;
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.getCustomerCity,
					method: 'GET',
					data: {
						address: this.address
					},
					success: res => {
						// console.log(res);
						var coordinate = res.data.data.customer_latlng.split(",")
						this.latitude = Number(coordinate[0])
						this.longitude = Number(coordinate[1])
						console.log(this.latitude, this.longitude);
					},
				});
			} else {
				// 添加地址
				uni.getLocation({
					type: 'wgs84',
					geocode: true,
					success: res => {
						this.longitude = res.longitude;
						this.latitude = res.latitude;
						console.log('当前位置的经度：' + res.longitude);
						console.log('当前位置的纬度：' + res.latitude);
					}
				});
			}
			this.covers = [{
					id: 100,
					latitude: this.latitude,
					longitude: this.longitude,
					height: 28,
					width: 28,
					iconPath: '../../static/image/address.png'}]
					
			this.getNodesInfo();
		},

		methods: {
			clearAddress(){
				this.address = ''
			},
			
			deleteAddress: function(e) {
				//删除
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.deleteAddress,
					method: 'POST',
					data: {
						id: this.addressInfo.id
					},
					success: res => {
						console.log(res);
						if (res.statusCode == 200) {
							uni.showToast({
								icon: 'none',
								title: '删除成功',
								duration: 1000
							});
							uni.navigateBack({
								delta: 1,
							});
						}
					},
				});
			},

			addAddress: function(e) {
				if (this.addressInfo == null) { //新增地址
					if (this.name == "") {
						uni.showModal({
							title: '提示',
							content: '请填写您的姓名',
							showCancel: 'false',
						})
					} else if (this.phone == "" || this.phone.length < 10) {
						uni.showModal({
							title: '提示',
							content: '请填写您的电话',
							showCancel: 'false',
						})
					} else if (this.address == "") {
						uni.showModal({
							title: '提示',
							content: '请填写您的地址',
							showCancel: 'false'
						})
					} else {
						uni.request({
							url: getApp().globalData.FormalServer + getApp().globalData.addAddress,
							method: 'POST',
							data: {
								name: this.name,
								tel: this.phone,
								address: this.address,
								unit: this.unit,
								buzz_code: this.code,
							},
							success: res => {
								// console.log(res);
								if (res.data.status == 1) {
									uni.showToast({
										title: '新建成功',
										complete() {
											setTimeout(function(){
												uni.navigateBack({
													delta: 1
												})
											}, 600)
										}
									});
								}
							},
						});
					}

				} else { //更新地址
					if (this.name == "") {
						uni.showModal({
							title: '提示',
							content: '请填写您的姓名',
							showCancel: 'false'
						})
					} else if (this.phone == "" || this.phone.length < 10) {
						uni.showModal({
							title: '提示',
							content: '请填写您的电话',
							showCancel: 'false'
						})
					} else if (this.address == "") {
						uni.showModal({
							title: '提示',
							content: '请填写您的地址',
							showCancel: 'false'
						})
					} else {
						uni.request({
							url: getApp().globalData.FormalServer + getApp().globalData.updateAddress,
							method: 'POST',
							data: {
								id: this.addressInfo.id,
								name: this.name,
								tel: this.phone,
								address: this.address,
								unit: this.unit,
								buzz_code: this.code,
							},
							success: res => {
								// console.log(res);
								if (res.data.status == 1) {
									uni.showToast({
										title: '更新成功',
										complete() {
											setTimeout(function(){
												uni.navigateBack({
													delta: 1
												})
											}, 600)
										}
									});
								}
							},
						});
					}
				}
			},

			getname: function(e) {
				// console.log(e);
				this.name = e.target.value;
			},

			getphone: function(e) {
				// console.log(e);
				this.phone = e.target.value;
			},

			getaddress: function(e) {
				if (e.target.value.length > 0) {
					this.show = true;
					this.search(e.target.value);
				} else {
					this.show = false;
				}
			},

			search: function(text) {
				uni.request({
					url: getApp().globalData.googleMap,
					method: 'GET',
					data: {
						key: "AIzaSyDAHDRf520FLI-CtRx8snkJYA8nXYVQZ8I",
						input: text,
						language: "en-CA",
						components: "country:ca",
					},
					success: res => {
						console.log(res.data.predictions);
						this.locationList = res.data.predictions;
					},
				});
			},

			chooseAddr: function(e) {
				console.log(e);
				this.address = e.currentTarget.dataset.key;
				this.show = false;
			},

			getunit: function(e) {
				// console.log(e);
				this.unit = e.target.value;
			},

			getcode: function(e) {
				// console.log(e);
				this.code = e.target.value;
			},

			getNodesInfo() {
				const query = uni.createSelectorQuery().in(this);
				query.selectAll('.input').boundingClientRect(res => {
					// console.log(res)
					let rel = [];
					for (var i = 0; i < res.length; i++) {
						rel.push(res[i].top);
					}
					// console.log(rel)
					this.result_top = rel[2] + 50;
					// console.log(this.result_top);
				}).exec();
			}
		}
	}
</script>

<style>
	.input {
		display: flex;
		flex-direction: row;
		border-radius: 98rpx;
		/* box-shadow: 0px 0px 5px 2px #DDDDDD; */
		background-color: #F5F5F5;
		padding: 10rpx;
		margin: 10rpx 30rpx;
		height: 90rpx;
		align-items: center;
	}

	.icon {
		padding: 10rpx 20rpx;
		display: flex;
		align-items: center;
	}

	.redbtn {
		font-size: larger;
		position: fixed;
		bottom: 100rpx;
		left: 20rpx;
		right: 20rpx;
		height: 90rpx;
		color: #FFFFFF;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.btn {
		font-size: larger;
		position: fixed;
		bottom: 10rpx;
		left: 20rpx;
		right: 20rpx;
		height: 90rpx;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.result-container {
		position: fixed;
		height: 250rpx;
		right: 0;
		left: 0;
		z-index: 1000;
		background-color: #FFFFFF;
		padding: 0rpx 40rpx;
	}

	.search-result {
		display: flex;
		align-items: center;
		line-height: 40rpx;
		height: 80rpx;
		/* font-size: large; */
		border-bottom: 1rpx solid #ECECEC;
		color: #AAAAAA;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>
