<template>
	<view>
		<image src="../../static/image/img.jpg" class="img" mode="aspectFit"></image>

		<view class="card">
			<uni-list>
				<uni-list-item title="网站地址" clickable rightText="www.foodhwy.com"></uni-list-item>
				<uni-list-item title="联系电话" clickable rightText="647-624-7211"></uni-list-item>
				<uni-list-item title="电子邮件" clickable rightText="foodhwycanada@gmail.com"></uni-list-item>
				<uni-list-item title="微信账号" clickable rightText="foodhwycanada"></uni-list-item>
			</uni-list>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style>
	.card {
		margin: 30rpx;
		border-radius: 30rpx;
		padding: 20rpx;
		box-shadow: 0px 0px 2px 2px #F0F0F0;
	}

	.img {
		width: 100%;
	}
</style>
