<template>
	<view>
		
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">
			<!-- 若未登录则弹出登录 -->
			<view v-if="!loginStatus">
				<view class="center">
					<view style="display: flex;flex-direction: column;align-items: center;justify-content: center;margin-top: 350rpx;">
						<image src="../../static/image/rocket.png" mode="scaleToFill" style="height: 150rpx;width: 150rpx;"></image>
						<text style="color: #999999;margin-top: 20rpx;">登录后查看外卖订单</text>
						<button type="warn" size="default" @click="gotoLogin" style="margin-top: 20rpx;">立即登录</button>
					</view>
				</view>
			</view>
			
			<view v-else="loginStatus">
			<!-- 进行中的订单 -->
			<view v-if="processingOrder.length!=0" class="title">未完成订单</view>
			<view v-for="(item, index) in processingOrder" :key="index">
				<view class="card" @click="gotoInfo(index)">
					<view class="top">
						<view class="row" style="align-items: center;">
							<image :src="item.shop_thumb" :lazy-load="true" mode="aspectFill" class="img"></image>
							<text class="name">{{item.shop_name}}</text>
						</view>
						<text v-if="item.order_type == 'normal'" class="type">外卖配送</text>
						<text v-else-if="item.order_type == 'redeem'" class="type">到店自取</text>
					</view>
					
					<view class="row" style="padding: 30rpx;justify-content: space-between;">
						<view class="left">
							<text class="text">订单编号:   {{item.order_id}}</text>
							<text class="text" style="margin: 15rpx 0rpx;">下单时间:   {{item.order_time}}</text>
							<view class="row">
								<!-- 订单状态 -->
								<text v-if="item.status==-1" class="text">订单状态:   已取消</text>
								<text v-else-if="item.status==1" class="text">订单状态:   等待付款</text>
								<text v-else-if="item.status==10" class="text">订单状态:   已确认</text>
								<text v-else-if="item.status==0" class="text">订单状态:   进行中</text>
								<text v-else-if="item.status==20" class="text">订单状态:   已完成</text>
								<text v-else-if="item.status==11" class="text">订单状态:   取餐中</text>
								<text v-else-if="item.status==-20" class="text">订单状态:   预订单</text>
								<text v-else-if="item.status==-10" class="text">订单状态:   预订单</text>
								<text v-else-if="item.status==-30" class="text">订单状态:   拼单</text>
								<text v-else-if="item.status==11" class="text">订单状态:   已取餐</text>
								<text v-else-if="item.status==15" class="text">订单状态:   正在配送</text>
								<!-- 分隔号 -->
								<text style="margin: 0rpx 10rpx;color: #F0F0F0;">|</text>
								<!-- 支付状态 -->
								<text v-if="item.payment_status==-1||item.payment_status==0" class="text">支付状态:   未支付</text>
								<text v-else-if="item.payment_status==10" class="text">支付状态:   预支付</text>
								<text v-else-if="item.payment_status==20" class="text">支付状态:   已支付</text>
								<text v-else-if="item.payment_status==30" class="text">支付状态:   退款</text>
								<text v-else-if="item.payment_status==99" class="text">支付状态:   支付失败</text>
							</view>
						</view>
						
						<view class="right">
							<text class="price">${{item.order_total}}</text>
							<text class="info">订单详情 ></text>
						</view>
					</view>
				</view>
			</view>
			
			<!-- 历史订单 -->
			<view v-if="order_history.length!=0" class="title">历史订单</view>
				<view v-for="(item, index) in order_history" :key="index">
					<view class="card" @click="gotoHistoryInfo(index)">
						<view class="top">
							<view class="row" style="align-items: center;">
								<image :src="item.shop_thumb" :lazy-load="true" mode="aspectFill" class="img"></image>
								<text class="name">{{item.shop_name}}</text>
							</view>
							<text v-if="item.order_type == 'normal'" class="type">外卖配送</text>
							<text v-else-if="item.order_type == 'redeem'" class="type">到店自取</text>
						</view>
						
						<view class="row" style="padding: 30rpx;justify-content: space-between;">
							<view class="left">
								<text class="text">订单编号:   {{item.order_id}}</text>
								<text class="text" style="margin: 15rpx 0rpx;">下单时间:   {{item.order_time}}</text>
								<view class="row">
									<!-- 订单状态 -->
									<text v-if="item.status==-1" class="text">订单状态:   已取消</text>
									<text v-else-if="item.status==1" class="text">订单状态:   等待付款</text>
									<text v-else-if="item.status==10" class="text">订单状态:   已确认</text>
									<text v-else-if="item.status==0" class="text">订单状态:   进行中</text>
									<text v-else-if="item.status==20" class="text">订单状态:   已完成</text>
									<text v-else-if="item.status==11" class="text">订单状态:   取餐中</text>
									<text v-else-if="item.status==-20" class="text">订单状态:   预订单</text>
									<text v-else-if="item.status==-30" class="text">订单状态:   拼单</text>
									<text v-else-if="item.status==11" class="text">订单状态:   已取餐</text>
									<text v-else-if="item.status==15" class="text">订单状态:   正在配送</text>
									<!-- 分隔号 -->
									<text style="margin: 0rpx 10rpx;color: #F0F0F0;">|</text>
									<!-- 支付状态 -->
									<text v-if="item.payment_status==0||-1" class="text">支付状态:   未支付</text>
									<text v-else-if="item.payment_status==10" class="text">支付状态:   预支付</text>
									<text v-else-if="item.payment_status==20" class="text">支付状态:   已支付</text>
									<text v-else-if="item.payment_status==30" class="text">支付状态:   退款</text>
									<text v-else-if="item.payment_status==99" class="text">支付状态:   支付失败</text>
								</view>
							</view>
							
							<view class="right">
								<text class="price">${{item.order_total}}</text>
								<text class="info">订单详情 ></text>
							</view>
						</view>
					</view>
				</view>
			</view>
			
			<!-- 底部留白 -->
			<view style="height: 120rpx;"></view>
		</view>
	
	</view>
</template>

<script>
	export default {
		data() {
			return {
				processingOrder: null,
				order_history: null,
				loginStatus: false,
				loading: true,
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
			}
		},
		
		// onLoad() {
		// 	this.loading = true
		// 	this.initialize()
		// 	let that = this
		// 	setTimeout(function(){
		// 		that.loading = false
		// 	}, 800)
		// },
		
		onShow() {
			this.loading = true
			this.initialize()
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 400)
		},
		
		onPullDownRefresh() {
			this.initialize()
			console.log('refresh');
		},
		
		methods: {
			// 页面初始化
			initialize(){
				this.loginStatus = getApp().globalData.loginStatus
				if (this.loginStatus) {
					uni.request({
						url: getApp().globalData.FormalServer + getApp().globalData.order_history,
						method: 'GET',
						success: res => {
							console.log('订单列表', res);
							res.data.status == 1 ?
							(this.order_history = res.data.data.finished,
							 this.processingOrder = res.data.data.processing)
							 : uni.showToast({
								 icon: 'none',
								title: '请求失败，请稍后重试'
							 });
						},
						fail: () => {},
						complete: () => {
							uni.stopPullDownRefresh()
						}
					});
				}
			},
			
			// 跳转到正在进行的订单详情
			gotoInfo(index){
				uni.navigateTo({
					url: '../orderInfo/orderInfo?order_id=' + this.processingOrder[index].order_id,
				});
			},
			
			// 跳转到历史订单详情
			gotoHistoryInfo(index){
				uni.navigateTo({
					url: '../orderInfo/orderInfo?order_id=' + this.order_history[index].order_id,
				});
			},
			
			// 跳转到登录页面
			gotoLogin(){
				uni.navigateTo({
					url: '../login/login',
				});
			}
		}
	}
</script>

<style>
	.center{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
	.title{
		font-size: large;
		padding: 0rpx 40rpx;
		text-decoration: underline;
		text-decoration-color: #FFFF00;
		text-decoration-thickness: 5px;
		text-decoration-style: solid;
	}
	.info{
		font-size: small;
		font-weight: 300;
		color: #999;
	}
	.right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.price{
		font-size: large;
		font-weight: bold;
		white-space: nowrap;
	}
	.text{
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
	}
	.left{
		display: flex;
		flex-direction: column;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.type{
		white-space: nowrap;
		color: #999999;
		font-weight: 300;
	}
	.name{
		margin-left: 20rpx;
		width: 400rpx;
		padding: 0rpx 10rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 500;
	}
	.img{
		height: 70rpx;
		width: 70rpx;
		border-radius: 50rpx;
	}
	.top{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		padding: 10rpx 20rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
</style>
