<script>
export default {
	
	globalData:{
		SandboxServer: "https://sandbox.foodhwy.com/api",
		// FormalServer: "https://sandbox.foodhwy.com/api",
		FormalServer: "https://wechat.foodhwy.com/api",
		TestServer: "http://php7.foodhwy.net/api",
		
		shopList: '/shoplist/v2',
		shopInfo: '/shop',
		shopMenu: '/menu_categories',
		shopNewMenu: '/shop_menu',
		getCustomerCity: "/area/customer_latlng",	//根据用户经纬度获得所在城市，以及判断是否在送餐范围内
		sendCode: '/request_verificode',
		verifyCode: '/check_verificode',
		login: '/login',
		addAddress: '/user/addrbook/new',
		deleteAddress: '/user/addrbook/delete',
		updateAddress: '/user/addrbook/update',
		addressList: '/user/addrbook/list',
		googleMap: 'https://maps.googleapis.com/maps/api/place/autocomplete/json',
		placeOrder: '/place_order',
		cal_shipping_fee: '/cal_shipping_fee',
		order_history: '/order_history',
		order_detail: '/order_detail',
		getPaymentToken: '/payment/credit_card/get_token',
		create_charge: '/payment/create_charge',
		promocode: '/promo/validate',
		promocodeList: '/user/coupons/list/v2',
		shopPromo: '/promo/check_orderscount',
		userDetail: '/user/detail',
		hurryUp: '/hurry_up',
		creditCardList: '/user/credit_card/list',
		addCreditCard: '/user/credit_card/add',
		deleteCreditCard: '/user/credit_card/delete',
		sendReceipt: '/user/receipt/request',
		rate: '/review_order/v2',
		calculate: '/cart/calculate',
		snappay: '/payment/snappay/minipay',
		couponList: '/user/coupons/list/group',
		verify_coupon: '/promo/validate/coupons',
		
		js_code: '',
		loginStatus: true,
		shoppingCart: null,
		deliveryInfo: null,
		storeInfo: null,
		totalPrice: null,
		orderInfo: null,
		priceInfo: null,
	},
	
	onLaunch: function() {
		console.log('App Launch');
		console.log('用户名', uni.getStorageSync('username'));
		
		
		// 检测用户之前是否登陆过
		uni.getStorageSync('username') == '' ? '' : this.globalData.loginStatus = true
		
		//如果登陆过则获取缓存里的用户名和密码，请求登陆获取cookie
		if (this.globalData.loginStatus) {
			uni.request({
				url: this.globalData.FormalServer + this.globalData.login,
				method: 'POST',
				data: {
					// username: uni.getStorageSync('username'),
					// password: uni.getStorageSync('password'),
					username: 6479891678,
					password: '049054a56b',
					// password: 'cfb326cd57',
				},
				success: res => {
					console.log('登录', res);
					uni.setStorageSync('cookie', res.cookies[0])
					res.data.status === 1 ? (
					// 保存用户信息
						uni.setStorage({
							key: 'userInfo',
							data: res.data.data
						})) : this.globalData.loginStatus = false
				},
			});
		}	
		
		// 设置云端环境,获取微信openId
		// 用于微信支付
		wx.cloud.init({
			traceUser: true,
			env: 'foodhwy-driver-rk6rn',
		}),
		// 调用云函数获取openid
		wx.cloud.callFunction({
		  name: 'login',
		  success: res => {
			// debugger
			console.log('openid: ', res.result.openid)
			uni.setStorage({//将用户信息保存在本地  
							key: 'openId',  
							data: res.result.openid  
						}) 
		  },
		  fail: err => {
			console.error('[云函数] [login] 调用失败', err)
		  }
		})
		
	},
	
	onShow: function() {
		console.log('App Show');
	},
	onHide: function() {
		console.log('App Hide');
	}
};
</script>

<style lang="scss">
	/* 注意要写在第一行，同时给style标签加入lang="scss"属性 */
	@import "uview-ui/index.scss"
/* 解决头条小程序组件内引入字体不生效的问题 */
/* #ifdef MP-TOUTIAO */
@font-face {
	font-family: uniicons;
	src: url('/static/uni.ttf');
}
/* #endif */
</style>
