<template>
	<view class="webview">
	  <web-view :src="url"></web-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				url: '',
				become_driver_url: 'https://wechat.foodhwy.com/driver_register/register',
				merchant_join_url: 'http://join.fhwy.ca',
			}
		},
		
		onLoad(e) {
			console.log(e);
			if (e.url == "driver") {
				this.url = this.become_driver_url
			}else if(e.url == "merchant"){
				this.url = this.merchant_join_url
			}
		},
		
		methods: {
			
		}
	}
</script>

<style>

</style>
