<template>
	<view>
		<view class="top" v-if="type=='pay'">
			<text style="font-size: large;">订单总额</text>
			<text style="font-size: x-large;font-weight: bold;margin-top: 10rpx;">${{total}}</text>
		</view>
		
		<view class="cont">
			<image src="../../static/image/visa.png" mode="aspectFill" class="img"></image>
			<!-- <input type="text" placeholder="Name on Card" placeholder-class="holder" class="input"/> -->
			<input focus="true" type="number" @input="cardNumber" placeholder="Card Number" placeholder-class="holder" class="input" maxlength="16"/>
			<view class="row">
				<view style="display: flex;flex-direction: row;">
					<input class="mm" @input="getMM" type="number" placeholder="MM" maxlength="2" placeholder-class="holder" confirm-type="next"/>
					<text style="color: #999999;font-size: x-large;margin: 0rpx 20rpx;">/</text>
					<input class="yy" @input="getYY" type="number" placeholder="YY" maxlength="2" placeholder-class="holder" confirm-type="next"/>
				</view>
				<input class="cvv" @input="getCVV" type="number" placeholder="CVV" maxlength="3" placeholder-class="holder" confirm-type="next"/>
			</view>
			<input class="postal" @input="getPostal" type="text" placeholder="Postal" maxlength="6" placeholder-class="holder" confirm-type="done"/>
		</view>
		
		<view class="tips" v-if="type=='pay'">
			<image src="../../static/image/light.png" mode="aspectFill" style="height: 50rpx; width: 50rpx;"></image>
			<text style="color: #999999;margin-left: 15rpx;">温馨提示：使用信用卡支付的时候，请填写您的信用卡账单地址的邮编</text>
		</view>
		
		<view class="btn" @click="confirm">确认</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				payment_gateway: '',
				total: 0,
				cardNum: '',
				yy: '',
				mm: '',
				cvv: '',
				postalCode: '',
				order_id: null,
				type: null,
				cardCompany: null,
			}
		},
		
		onLoad(e) {
			console.log(e);
			this.type = e.type
			if (e.type == 'pay') {
				this.order_id = e.order_id
				//付款
				//拿order_id去查看订单详情
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.order_detail,
					method: 'GET',
					data: {
						order_id: e.order_id
					},
					success: res => {
						console.log('订单详情', res.data.data);
						this.payment_gateway = res.data.data.payment_gateway
						this.total = res.data.data.order_total
					},
					fail: () => {},
					complete: () => {}
				});
			}
		},
		
		methods: {
			cardNumber(e){
				this.cardNum = e.detail.value;
			},
			getCVV(e){
				this.cvv = e.detail.value;
			},
			getMM(e){
				this.mm = e.detail.value;
			},
			getYY(e){
				this.yy = e.detail.value;
			},
			getPostal(e){
				this.postalCode = e.detail.value;
			},
			
			confirm(){
				if (this.type == 'add') {
					this.addCreditCard()
				}else if(this.type == 'pay'){
					this.pay()
				}
			},
			
			creditCardCompany(){
				console.log(this.cardNum.slice(0, 1));
				let first = this.cardNum.slice(0, 1)
				let correctCardnum = true
				if (first == 4) {
					this.cardCompany = 'visa'
				}else if(first == 3){
					this.cardCompany = 'amex'
				}else if(first == 5){
					this.cardCompany = 'master'
				}else{
					correctCardnum = false
				}
				return correctCardnum;
			},
			
			addCreditCard(){
				console.log('add');
				if (this.creditCardCompany() && this.cardNum.length >= 15 && this.cardNum.length <= 16
				&& this.mm.length == 2 && this.yy.length ==2 && this.cvv.length >= 3 && this.cvv.length <= 4) {
					//提示用户加载中
					uni.showLoading({
						title: 'loading...'
					})
					// 请求添加
					uni.request({
						url: getApp().globalData.FormalServer + getApp().globalData.addCreditCard,
						method: 'POST',
						data: {
							card_no: this.cardNum,
							expiry_year: '20' + this.yy, 	//年份是四位数
							expiry_month: this.mm,
							zipcode: this.postalCode,
							type: this.cardCompany
						},
						success: res => {
							console.log(res);
							if (res.data.status ==  1) {
								uni.showToast({
									title: '添加成功',
									complete() {
										setTimeout(function(){
											uni.navigateBack({
												delta: 1
											})
										}, 600)
									}
								});
								
							}
						},
						fail: () => {},
						complete: () => {}
					});
				}else{
					uni.showModal({
						title: '提示',
						showCancel: false,
						content: '对不起，您输入的信用卡信息不正确',
						success: function (res) {
							if (res.confirm) {
								console.log('用户点击确定');
							}
						}
					});
				}
			},
			
			pay(){
				console.log('pay');
				if (this.cardNum.length >= 15 && this.cardNum.length <= 16 && this.mm.length == 2 
					&& this.yy.length ==2 && this.cvv.length >= 3 && this.cvv.length <= 4) {
					//提示用户加载中
					uni.showLoading({
						title: 'loading...'
					})
					// 获取信用卡支付的token, 准备charge
					uni.request({
						url: getApp().globalData.FormalServer + getApp().globalData.getPaymentToken,
						method: 'POST',
						data: {
							card_no: this.cardNum,
							expiry_year: '20' + this.yy, 	//年份是四位数
							expiry_month: this.mm,
							cvc: this.cvv,
							zipcode: this.postalCode,
							payment_gateway: this.payment_gateway,
						},
						success: res => {
							console.log(res);
							// 拿到信用卡支付token, 支付订单
							uni.request({
								url: getApp().globalData.FormalServer + getApp().globalData.create_charge,
								method: 'POST',
								data: {
									charge_token: res.data.data.card_token,
									order_id: this.order_id,
									cvc: this.cvv,
								},
								success: res => {
									// 返回信用卡支付的结果
									console.log(res);
									uni.hideLoading();
									if (res.data.status === 1) {
										// 付款成功后跳转
										uni.showToast({
											title: '支付成功',
											// 支付成功跳转到订单详情页
											success: function() {
												setTimeout(function(){
													uni.reLaunch({
														url: '../orderInfo/orderInfo?order_id=' + this.order_id,
													})
												},600)
											}
										});
									}else{
										uni.showModal({
											title: '提示',
											showCancel: false,
											content: '对不起，您输入的信用卡信息不正确',
											success: function (res) {
												if (res.confirm) {
													console.log('用户点击确定');
												}
											}
										});
									}
								},
								fail: () => {},
								complete: () => {}
							});
						},
						fail: () => {},
						complete: () => {}
					});
				}else{
					uni.showModal({
						showCancel: false,
						title: '提示',
						content: '请正确填写信用卡信息',
						confirmColor: '#FF8161',
					})
				}
			},
			
			
		}
	}
</script>

<style>
	.top{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 60rpx;
	}
	.postal{
		border-bottom: 1px solid #999999;
		width: 110rpx;
		height: 60rpx;
		margin-top: 20rpx;
	}
	.btn{
		background-color: #FF8161;
		color: #FFFFFF;
		font-size: larger;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 5px #DDDDDD;
		height: 100rpx;
		position: fixed;
		bottom: 80rpx;
		left: 30rpx;
		right: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: large;
	}
	.row{
		display: flex;
		flex-direction: row;
		margin-top: 40rpx;
		justify-content: space-between;
	}
	.holder{
		font-size: larger;
	}
	.cont{
		display: flex;
		flex-direction: column;
		margin: 30rpx;
		padding: 40rpx 60rpx;
		height: 500rpx;
		margin-top: 80rpx;
		justify-content: center;
		border-radius: 10rpx;
		box-shadow: 0px 0px 3px 3px #DDDDDD;
	}
	.tips{
		display: flex;
		flex-direction: row;
		margin: 30rpx;
		margin-top: 30rpx;
		padding: 30rpx 20rpx;
		border-radius: 10rpx;
		box-shadow: 0px 0px 2px 2px #DDDDDD;
	}
	.img{
		height: 220rpx;
		width: 220rpx;
	}
	.input{
		border-bottom: 1px solid #999999;
		margin-top: 20rpx;
		height: 60rpx;
	}
	.mm{
		border-bottom: 1px solid #999999;
		width: 70rpx;
		height: 50rpx;
	}
	.yy{
		border-bottom: 1px solid #999999;
		width: 70rpx;
		height: 50rpx;
	}
	.cvv{
		border-bottom: 1px solid #999999;
		width: 80rpx;
		height: 50rpx;
	}
</style>
