<template>
	<view>
		
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<view v-show="!loading">
			<!-- display城市 -->
			<view>
				<picker mode="selector" :range="array" @change="chooseCity">
					<view style="margin: 15rpx; font-size: larger;display: flex;">
						<image src="../../static/image/car.png" mode="aspectFit" style="height: 50rpx;width: 80rpx;"></image>
						<!-- <uni-icons type="location-filled" size="26"></uni-icons> -->
						<view style="margin-left: 10rpx;">{{city}}</view>
					</view>
				</picker>
			</view> 
			
			<!-- 商户列表 -->
			<view class="content" v-for="(item, index) in shopList" :key="index">
			<view class="card" @click="gotoMenu(item.mid)">
				<image @error="handleError(index)" :src="item.thumb=='' ? errorImage : item.thumb" :lazy-load="true"
				:class="[item.open === 1 ? 'img' : 'gray']"></image>
				
				<view style="padding: 0rpx 20rpx;padding-top: 20rpx;">
					<text class="shopName">{{item.name}}</text>
					<view class="row" style="justify-content: space-between;margin-top: 15rpx;">
						<view class="row">
							<text class="small">起送: ${{item.min_amount}}</text>
							<view class="Delimiter">|</view>
							<text class="small">平均出餐时间: {{item.cooking_minutes}}m</text>
						</view>
						<text class="small">{{GetDistance(item.lat, item.lon)}}KM</text>
					</view>
					
					<view class="row">
						<uni-icons type="location-filled" size="14" color="#999999"></uni-icons>
						<view class="row" style="margin-top: 7rpx;color: #999999;">
							<view class="small">{{item.city}}</view>
							<view class="Delimiter">|</view>
							<text class="small">营业时间 {{item.today_open_time}}</text>
						</view>
					</view>
					
				</view>
					<view class="row" style="flex-wrap: wrap;padding-bottom: 20rpx;">
						<view v-for="(tagitem, tagindex) in item.tags" :key="tagindex">
							<view class="tag" :style="{'color': tagitem.color, 'background-color': colorToRGB(tagitem.color, 0.1)}">
							{{tagitem.tag}}</view>
						</view>
					</view>
			</view>
			</view>
		
		</view>
	</view>
</template>

<script>
	
	export default {
		data() {
			return {
				loading: true,
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
				animationData: {},
				errorImage: '../../static/image/error.png',
				shopList: [],
				city: '',
				userLat: '',
				userLon: '',
				array: ['Aurora', 'DT of Toronto', 'Edmonton', 'Guelph', 'Halifax', 'Hamilton', 'Kingston', 'London', 'Montreal', 'Mississauga', 'Markham', 'North York', 'Ottawa', 'Richmond Hill', 'Richmond BC', 'St. Catharines', 'Scarborough', 'Waterloo', 'Windsor', 'Winnipeg'],
				datas: [{label:"Aurora", value:3622},
						{label:"DT of Toronto", value:3613},
						{label:"Edmonton", value:3619},
						{label:"Guelph", value:3608},
						{label:"Halifax", value:3618},
						{label:"Hamilton", value:3606},
						{label:"Kingston", value:3616},
						{label:"London", value:3609},
						{label:"Montreal", value:3617},
						{label:"Mississauga", value:3141},
						{label:"Markham", value:3614},
						{label:"North York", value:3149},
						{label:"Ottawa", value:3611},
						{label:"Richmond Hill", value:3615},
						{label:"Richmond BC", value:3621},
						{label:"St. Catharines", value:3610},
						{label:"Scarborough", value:3142},
						{label:"Waterloo", value:3152},
						{label:"Windsor", value:3612},
						{label:"Winnipeg", value:3620},
						],
			}
		},
		onLoad: function(e) {
			console.log('用户信息', uni.getStorageSync('userInfo'));
			
			// 请求完成前显示loading
			uni.getLocation({
				type: 'wgs84',
				success: res => {		//拿到用户的经纬度
					// console.log(res);
					this.userLat = res.latitude
					this.userLon = res.longitude
					uni.request({
						url: getApp().globalData.SandboxServer + getApp().globalData.getCustomerCity,
						method: 'GET',
						data: {
							customer_latlng: res.latitude + "," + res.longitude
						},
						success: res => {
							//根据经纬度获取用户所在城市id
							console.log(res.data.data.memo);
							this.city = res.data.data.memo
							
							//根据city_id请求商家列表
							if (res.data.status == 1) {
								uni.request({ 
									url: getApp().globalData.SandboxServer + getApp().globalData.shopList,
									method: 'GET',
									header: {
										'Cookie': uni.getStorage('cookie')
									},
									data: {
										// city_id: res.data.data.city_id
										city_id: 3608
									},
									success: res => {
										this.shopList = res.data.data.list;
										console.log('商户列表',this.shopList);
									},
									fail: () => {},
								});
							}
						},
						fail: () => {},
					});
				},
				fail: res=>{
					console.log(res);
					uni.showToast({
						icon: 'none',
						title: '您取消了位置授权，无法获取您附近的优惠订单。'
					});
					this.city = '点击选择城市'
					this.loading = false
				}
			});
		},
		
		onShow() {
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 2000)
		},
		
		// 设置页面的分享信息
		onShareAppMessage() {
			return {
			  title: '小红车外卖',
			  path: '/pages/index/index',
			  imageUrl: '../../static/image/img.png'
			}
		},
		
		methods: {
			// 加载图片出错时显示占位图
			handleError(index){
				console.log('图片加载错误的坐标', index)
				this.shopList[index].thumb = this.errorImage,
				this.$forceUpdate()
			},
			
			//经纬度转换成三角函数中度分表形式。
			Rad(d){
			   return d * Math.PI / 180.0;
			},
			
			// 计算用户与商家的距离
			GetDistance(lat1,lng1){
				// console.log(lat1, lng1);
				var radLat1 = this.Rad(lat1);
				var radLat2 = this.Rad(this.userLat);
				var a = radLat1 - radLat2;
				var b = this.Rad(lng1) - this.Rad(this.userLon);
				var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
				Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
				s = s *6378.137 ;// EARTH_RADIUS;
				s = Math.round(s * 10000) / 10000; //输出为公里
				s=s.toFixed(1);
				return s;
			},
			
			colorToRGB(val, opa) {
			    const pattern = /^(#?)[a-fA-F0-9]{6}$/; //16进制颜色值校验规则
			    const flag = typeof opa == 'number'; //判断是否有设置不透明度
			
			    if (!pattern.test(val)) { //如果值不符合规则返回空字符
			        return '';
			    }
			
			    let v = val.replace(/#/, ''); //如果有#号先去除#号
			    let rgbArr = [];
			    let rgbStr = '';
			
			    for (let i=0; i<3; i++) {
			            let item = v.substring(i*2, i*2+2);
			            let num = parseInt(item, 16);
			            rgbArr.push(num);
			    } 
			    
			    rgbStr = rgbArr.join();
			    rgbStr = 'rgb' + (flag ? 'a': '') + '(' + rgbStr + (flag ? ',' + opa : '')+ ')';
			    return rgbStr;
			},
			
			gotoMenu(e){
				// console.log(e)
				uni.navigateTo({
					url: '../menu/menu?mid=' + e,
				});
			},
			
			chooseCity(e){
				this.loading = true
				console.log(e.detail.value)
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.shopList,
					method: 'GET',
					data: {
						city_id: this.datas[e.detail.value].value
					},
					success: res => {
						console.log(res);
						uni.hideLoading();
						this.shopList = res.data.data.list;
						this.city = this.datas[e.detail.value].label
						this.loading = false
					},
					fail: () => {},
				});
			}
		}
	}
</script> 

<style>
	.gray { 
	    -webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    -o-filter: grayscale(100%);
	    filter: grayscale(100%);
	    filter: gray;
		height: 300rpx;
		width: 100%;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
	}
	.tag{
		padding: 5rpx 14rpx;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-small;
		white-space: nowrap;
		margin-left: 10rpx;
		border-radius: 98rpx;
		margin-top: 8rpx;
	}
	.Delimiter{
		margin-top: 5rpx;
		color: #999999;
		margin: 0rpx 10rpx;
		font-size: x-small;
	}
	.small{
		/* color: #999999; */
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.shopName{
		font-weight: 600;
	}
	.card{
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		border-radius: 10rpx;
		margin: 40rpx 30rpx;
	}
	.img{
		height: 300rpx;
		width: 100%;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
	}
</style>
