<template>
	<view>
		<image class="img" src="../../static/image/img.jpg" mode="scaleToFill"></image>

		<view class="cont">
			<!-- 手机号 -->
			<view class="input">
				<input focus="true" type="number" placeholder="请输入手机号码" @input="getTel" v-model="tel" style="width: 90%;"/>
				<image v-show="tel.length!=0" src="../../static/image/clear.png" mode="aspectFit" style="height: 30rpx;width: 30rpx;padding-right: 20rpx;" 
				@click="clearTel"></image>
			</view>
			
			<!-- 验证码 -->
			<view class="row" style="margin-top: 40rpx;">
				<input @input="getCode" :focus="codeFocus" class="input" style="width: 60%;" type="number" placeholder="请输入验证码" />
				<view v-if="showText" class="codeBtn" @click="sendCode">获取验证码</view>
				<view v-else class="codeBtn" style="background-color: #DDDDDD;color: #000000;">重获({{second}}s)</view>
			</view>

			<view class="loginBtn" @click="login">
				登录
			</view>
		</view>
	</view>
</template>

<script>
	import cookies from 'weapp-cookie'

	export default {
		data() {
			return {
				showText: true,
				codeFocus:false,
				second: 30,
				tel: '',
				code: '',
			}
		},
		methods: {
			login(e) {
				if (this.tel.length != 10) {
					uni.showModal({
						title: '提示',
						content: '输入的手机号码格式不正确',
						showCancel: false,
					});
					return;
				}
				uni.showLoading({
						title: 'loading'
					}),

					// 验证码获取用户名和密码
					uni.request({
						url: getApp().globalData.FormalServer + getApp().globalData.verifyCode,
						method: 'POST',
						data: {
							phone_num: this.tel,
							code: this.code,
						},
						success: res => {
							console.log('手机验证码获取用户名和密码', res.data.data);
							if (res.data.status === 1) {
								// 验证成功的话把用户名和密码保存到本地
								uni.setStorage({
										key: 'username',
										data: res.data.data.phone_num
									}),
									uni.setStorage({
										key: 'password',
										data: res.data.data.password
									}),
									// 拿到用户名密码后登录
									uni.request({
										url: getApp().globalData.FormalServer + getApp().globalData.login,
										method: 'POST',
										data: {
											username: res.data.data.phone_num,
											password: res.data.data.password,
										},
										success: res => {
											console.log('登录', res.data);
											uni.hideLoading();
											if (res.data.status === 1) {
												// 改变登录状态
												getApp().globalData.loginStatus = true;
												uni.setStorage({
													key: 'userInfo',
													data: res.data.data
												})

												uni.showToast({
													icon: 'none',
													title: '登录成功',
													success: function() {
														setTimeout(function(){
															uni.navigateBack({
																delta: 1
															})
														},1000)
													}
												})

											} else {
												uni.showModal({
													title: '提示',
													content: '登录失败，请重试。',
													showCancel: false,
												});
											}
										},
									});
							} else {
								uni.hideLoading();
								uni.showModal({
									title: '提示',
									content: '验证码不存在或已被使用',
									showCancel: false,
								});
							}
						}
					});

				// 获取 cookie
				let token = cookies.get('foodhwy_token', 'example.com')
				console.log(token);
			},

			sendCode(e) {
				if (this.tel.length != 10) {
					uni.showModal({
						title: '提示',
						content: '输入的手机号码格式不正确',
						showCancel: false,
					});
					return;
				}
				// 加载中
				uni.showLoading({
					title: 'loading'
				})
				// 做一个倒计时,让用户30秒后再获取验证码
				this.showText = false
				this.second = 30
				var interval = setInterval(() => {
					--this.second
				}, 1000)
				setTimeout(() => {
					clearInterval(interval)
					this.showText = true
				}, 30000)

				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.sendCode,
					method: 'GET',
					data: {
						phone_num: this.tel
					},
					success: res => {
						console.log('发送验证码', res.data);
						uni.hideLoading();
						if (res.data.status == 1) {
							uni.showToast({
								icon: 'none',
								title: '已发送'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: '发送失败，请稍后重试。'
							})
						}
					},
					fail: () => {},
					complete: () => {
						this.codeFocus = true
					}
				});
			},

			getTel(e) {
				this.tel = e.detail.value;
			},
			
			getCode(e) {
				this.code = e.detail.value;
			},
			
			clearTel(){
				this.tel = ''
			},
		}
	}
</script>

<style>
	.img {
		/* margin: 30rpx 0rpx; */
		/* margin-top: 30rpx; */
		width: 100%;
		height: 400rpx;
	}

	.cont {
		display: flex;
		flex-direction: column;
		margin: 0rpx 30rpx;
		padding: 0rpx 20rpx;
		height: 500rpx;
		justify-content: center;
		border-radius: 10rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}

	.input {
		display: flex;
		padding: 0rpx 30rpx;
		border-radius: 90rpx;
		height: 100rpx;
		width: 90%;
		background-color: #F0F0F0;
		align-items: center;
		justify-content: space-between;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.codeBtn {
		padding: 0rpx 10rpx;
		margin-left: 20rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFFFFF;
		background-color: #FF8161;
		border-radius: 98rpx;
		height: 90rpx;
		width: 200rpx;
		margin-top: 5rpx;
	}

	.loginBtn {
		margin-top: 80rpx;
		border-radius: 98rpx;
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		justify-content: center;
		font-size: larger;
		align-items: center;
		height: 100rpx;
		width: 100%;
	}
</style>
