<template>
	<view>
		
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">
			<!-- 选择送餐或自取 -->
			<uni-segmented-control style="height: 100rpx;" :current="current" styleType="text" :values="items" 
			@clickItem="onClickItem" active-color="#FF8161"></uni-segmented-control>
			
			<!-- 若是自取则展示商家信息 -->
			<view class="card" v-if="current==1">
				<view class="row">
					<image :src="storeInfo.thumb_small" mode="aspectFill" style="height: 140rpx;width: 140rpx;border-radius: 40rpx;"></image>
					<view style="margin-left: 40rpx;display: flex;flex-direction: column;">
						<text class="nowrap" style="font-size: large;">{{storeInfo.name}}</text>
						<text class="nowrap" style="font-size: smaller;font-weight: 300;margin: 10rpx 0rpx;">{{storeInfo.addr}}</text>
						<text class="nowrap" style="font-size: small;font-weight: 300;">{{storeInfo.tel}}</text>
					</view>
				</view>
				<view class="row" style="justify-content: space-evenly;width: 100%;margin-top: 30rpx;">
					<!-- 复制地址 -->
					<view class="phoneCall" @click="openAddress">
						<image src="../../static/image/map.png" mode="aspectFill" style="height: 30rpx;width: 30rpx;"></image>
						<text style="margin-left: 10rpx;display: flex;flex-direction: row;
						font-size: small;">打开地图</text>
					</view>
					<!-- 拨打电话 -->
					<view class="phoneCall" @click="phoneCall">
						<image src="../../static/image/call.png" mode="aspectFill" style="height: 30rpx;width: 30rpx;"></image>
						<text style="margin-left: 10rpx;display: flex;font-size: small;
						flex-direction: row;">拨打电话</text>
					</view>
				</view>
			</view>
			
			<!-- 配送地址 -->
			<view class="card" v-if="current == 0">
				<view class="content">
					<view v-if="current == 0">
						<view style="display: flex;flex-direction: row;justify-content: space-between;border-bottom: 0.5px solid #F0F0F0;height: 80rpx;align-items: center;">
							<view>送餐地址</view>
							<view style="display: flex;flex-direction: row;align-items: center;" @click="changeAddress">
								<view style="font-size: small;color: #999999;">选择其他地址</view>
								<image src="../../static/image/right.png" class="rightArrow" mode="aspectFill"></image>
							</view>
						</view>
						
						<!-- 顾客没有选择地址 或地区超出范围 -->
						<view v-if="outofRange" style="font-size: large;font-weight: bold;padding: 20rpx 0rpx;" @click="changeAddress">
							请选择您的配送地址
						</view>
						
						<!-- 顾客的送餐地址 -->
						<view v-else-if="!outofRange" style="font-size: large;font-weight: bold;">
							<view class="col">
								<view style="font-size: large;font-weight: 500;padding-top: 20rpx;">
									{{deliveryInfo.address}}
								</view>
								<view style="font-size: small;color: #999999;font-weight: 300;padding: 10rpx;">{{deliveryInfo.tel}}</view>
								<view class="row" style="margin: 10rpx 0rpx;">
									<text style="font-size: small;">预计送达:</text>
									<view style="color: #999;margin-left: 20rpx;font-size: small;">{{delivery.expectant_delivered_at}}</view>
								</view>
							</view>
						</view>
					</view>
					<!-- <view v-if="current === 1">
						选项卡2的内容
					</view> -->
				</view>
			</view>
			
			<!-- 产品内容 -->
			<view class="topcard" style="padding-bottom: 0rpx;">
				<view class="row" style="justify-content: space-between;background-color: #F5F5F5;padding: 20rpx 30rpx;">
					<view style="font-size: larger;font-weight: 400;white-space: nowrap;overflow: hidden;
					text-overflow: ellipsis;width: 70%;">{{storeInfo.name}}</view>
					<text style="color: #FF8161;white-space: nowrap;" @click="addMore">添加商品</text>
				</view>
				
				<view style="padding: 10rpx 30rpx; padding-top: 20rpx;">
					<view v-for="(item, index) in shoppingCart" :key="index" style="padding-bottom: 20rpx;">
						<view class="cartItem">
							<view class="row" style="align-items: center;">
								<view class="qty">{{item.qty}}</view>
								<text style="margin-left: 10rpx;width: 450rpx;">{{item.name}}</text>
							</view>
							<view v-if="item.row_total!=item.org_row_total" class="col" style="justify-content: space-between;">
								<view style="font-size: small;">${{item.row_total.toFixed(2)}}</view>
								<view style="font-size: smaller;text-decoration: line-through;color: #999999;">${{item.org_row_total.toFixed(2)}}</view>
							</view>
							<view v-else>${{item.row_total.toFixed(2)}}</view>
						</view>
						
						<view v-for="(ite, ind) in item.options" :key="ind">
							<view v-for="(it, i) in ite.items" :key="i">
								<view v-if="it.checked == 1" style="font-weight: 300;font-size: small;padding: 3rpx;">
									{{it.name}} × {{it.qty}} ( ${{(it.price*it.qty).toFixed(2)}} )
								</view>
							</view>
						</view>
					</view>
				</view>
				<input class="input" @input="noteInput" type="text" placeholder="Add a note (extra napkins, extra sauce...)" 
				placeholder-style="color: #999999;font-weight: 300;" />
			</view>
			
			<!-- 小费选择 -->
			<view class="card" v-if="current == 0"
			style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
				<view style="font-weight: 500;font-size: large;">小费</view>
				
				<u-subsection :list="tipsOption" :current="1" button-color="#FF8161" style="width: 380rpx;"
				 active-color="#FFF" @change="tipsChange"></u-subsection>
				 
				<input class="editTip" type="number" placeholder="Edit" maxlength="3" @blur="tipInput"/>
			</view>
			
			<!-- 商品价格 -->
			<view class="card">
				
				<view class="con">
					<view>产品价</view>
					<view style="display: flex;flex-direction: row;">
						<view v-if="summary.org_subtotal!=summary.subtotal" class="org">${{summary.org_subtotal}}</view>
						<view>${{summary.subtotal}}</view>
					</view>
				</view>
				
				<view class="con" v-show="current == 0">
					<view>配送服务费</view>
					<view style="display: flex;flex-direction: row;">
						<view v-if="summary.org_shipping_fee!=summary.shipping_fee" class="org">${{summary.org_shipping_fee}}</view>
						<view>${{summary.shipping_fee}}</view>
						<view>({{summary.distance}}公里)</view>
					</view>
				</view>
				
				<view class="con">
					<view>税（HST）</view>
						<view>${{summary.tax}}</view>
				</view>
				
				<view v-show="current == 0" class="con">
					<view>小费</view>
					<view>${{tip.toFixed(2)}}</view>
				</view>
				
				<view class="con" v-if="service_fee!=0||transaction_fee!=0">
					<view class="row">
						<view>服务费</view>
						<image @click="explain_fee" src="../../static/image/fee.png" mode="aspectFill" 
						style="margin-left: 10rpx;" class="img"></image>
					</view>
					<view>${{transaction_fee + service_fee}}</view>
				</view>
				
				<view class="con" v-if="summary.discount!=0">
					<view>折扣</view>
					<view>-${{summary.discount}}</view>
				</view>
				
				<view style="display: flex;flex-direction: row;justify-content: space-between;
				padding: 20rpx 0rpx;border-top: 1px dashed #999;margin-top: 20rpx;">
					<view style="font-weight: 400;">总计</view>
					<view style="font-weight: 500;font-size: large;">${{totalPrice.toFixed(2)}}</view>
				</view>
			</view>
		
			<!-- 优惠劵 -->
			<view v-if="summary.discount!=0" class="topcard" style="padding-bottom: 0rpx;">
				<view class="row" style="justify-content: space-between;background-color: #F5F5F5;padding: 20rpx 30rpx;margin-bottom: 20rpx;">
					<view style="font-weight: 500;font-size: large;">优惠</view>
					 
					<view class="row">
						<text @click="gotoCoupon">从卡包选择</text>
						<image src="../../static/image/rightArrow.png" style="height: 40rpx;width: 40rpx;margin-left: 5rpx;" mode="aspectFill"></image>
					</view>
				</view>
				
				<view style="padding: 0rpx 30rpx;">
					<!-- "普通优惠" -->
					<view v-for="(item, index) in discount.normal_discount" :key="index" class="couponRow" v-if="item.valid==1">
						<view class="row" style="align-items: center;">
							<image class="coupon_icon" src="../../static/image/product_coupon.png" mode="aspectFill"></image>
							<text style="margin-left: 20rpx;">{{item.desc}}</text>
						</view>
						
						<view class="row" style="margin-left: 20rpx;">
							<text>{{item.amount_desc}}</text>
						</view>
					</view>
					
					<!-- "会员专属优惠" -->
					<view v-for="(item, index) in discount.member_discount" :key="index" class="couponRow" v-if="item.valid==1">
						<view class="row" style="align-items: center;">
							<image class="coupon_icon" src="../../static/image/product_coupon2.png" mode="aspectFill"></image>
							<text style="margin-left: 20rpx;">{{item.desc}}</text>
						</view>
						
						<view class="row" style="margin-left: 20rpx;">
							<text>{{item.amount_desc}}</text>
						</view>
					</view>
					
					<!-- "超级折上折" -->
					<view v-for="(item, index) in discount.overlap_discount" :key="index" class="couponRow" v-if="item.valid==1">
						<view class="row" style="align-items: center;">
							<image class="coupon_icon" src="../../static/image/product_coupon4.png" mode="aspectFill"></image>
							<text style="margin-left: 20rpx;">{{item.desc}}</text>
						</view>
						
						<view class="row" style="margin-left: 20rpx;">
							<text>{{item.amount_desc}}</text>
						</view>
					</view>
					
					<!-- 内部折扣 -->
					<view v-for="(item, index) in discount.internal_discount" :key="index" class="couponRow" v-if="item.valid==1">
						<view v-if="item.discount!=0" class="row" style="align-items: center;">
							<image class="coupon_icon" src="../../static/image/product_coupon0.png" mode="aspectFill"></image>
							<text style="margin-left: 20rpx;">{{item.desc}}</text>
						</view>
						
						<view v-if="item.discount!=0" class="row" style="margin-left: 20rpx;">
							<text>{{item.amount_desc}}</text>
						</view>
					</view>
				</view>
				
				<view class="discount_desc">小红车为您节省 ${{summary.discount}}</view>
			</view>
		
		
			<!-- 支付方式 -->
			<view class="topcard">
				<view style="background-color: #F5F5F5;padding: 20rpx;30rpx;font-weight: 500;">支付方式</view>
				<view style="padding: 0rpx 30rpx; padding-bottom: 10rpx;">
					<radio-group @change="paymentRadioChange">
						<label v-for="(item, index) in payment" :key="item.value">
							<view style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding-top: 20rpx;">
								<view style="display: flex;flex-direction: row; align-items: center;">
									<image class="img" :src="item.src" mode="scaleToFill"></image>
									<view style="margin-left: 15rpx;font-weight: 300;">{{item.name}}</view>
								</view>
								<radio color="#FF8161" :value="item.value"/>
							</view>
						</label>
					</radio-group>
				</view>
			</view>
			
			<view style="height: 300rpx;"></view>
			
			<!-- 底部悬浮的bar -->
			<view style="display: flex;justify-content: center;">
				<view class="btn">
					<view class="row" style="margin-left: 50rpx;">
						<text style="color: #FFFFFF;font-size: larger;margin-left: 20rpx;">总计</text>
						<view style="margin-left: 20rpx;color: #FFFFFF;font-size: larger;font-weight: bold;">
							${{totalPrice.toFixed(2)}}</view>
						<view v-if="totalPrice!=org_total" style="text-decoration: line-through;font-size: small;color: #999;margin-left: 15rpx;margin-top: 5rpx;">{{org_total.toFixed(2)}}</view>	
					</view>
			
					<view v-if="priceInfo.place.status == 1" class="placeOrder" @click="confirmOrder">立即下单</view>
					<view v-else class="placeOrder" style="background-color: #202020;">无法下单</view>
				</view>
			</view>
		
		</view>
	</view>
</template>

<script>
	//计算的包
	// import math from 'math'
	import md5 from 'js-md5'
	
	export default {
		data() {
			return {
				loading: true,
				coupon_code: '',
				code: null,
				payment_type: null,
				deliveryInfo: null,
				delivery: null,
				priceInfo: null,
				storeInfo: null,
				userInfo: null,
				summary:null,
				discount: null,
				menu: null,
				current: 0,
				tip: 0,
				totalPrice: 0,
				org_total: 0,
				productPrice: 0,
				transaction_fee: 0,
				service_fee: 0,
				tipPersentage: 15,
				shoppingCart: [],
				shipping_type: 'delivery',
				note: '',
				items: ['外卖配送','到店自取'],
				tipsOption: [ {name: '10%', rate: 0.1, persent: 10},
								{name: '15%', rate:0.15, persent: 15},
									{name:'20%', rate:0.2, persent: 20}],
				payment: [{
				                    value: 'wxpay',
				                    name: '微信支付',
									src: '../../static/image/wechat.png'
				                },
								{
									value: 'onlinepay',
									name: '在线支付',
									src: '../../static/image/creditCard.png'
								},
								{
									value: 'cashpay',
									name: '货到付款',
									src: '../../static/image/cash.png'
								}
				            ],
			}
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',]
		},
		
		onLoad() {
			this.loading = true
			this.productPrice = Number(getApp().globalData.totalPrice)
			this.deliveryInfo = uni.getStorageSync('deliveryInfo')
			this.shoppingCart =  getApp().globalData.shoppingCart
			this.storeInfo = getApp().globalData.storeInfo
			this.userInfo = uni.getStorageSync('userInfo')
			console.log('购物车', this.shoppingCart)
			console.log('商家信息', this.storeInfo)
			
			// 商家支持的付款方式
			this.paymentMethod();
			
			// 如果该店不支持自取则改变title
			this.storeInfo.customer_pickup == 1 ? ''
			: this.items[1] = '不支持自取';
			
			//在配送范围内
			this.calculateTotal();
			
			this.loading = false
		},
		
		methods: {
			// 初始化计算
			calculateTotal(){
				// 新接口,直接计算价格以及优惠券
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.calculate,
					method: 'POST',
					data: {
						shop_id: this.storeInfo.mid,
						shipping_type: this.shipping_type,
						address: JSON.stringify(this.deliveryInfo.address),
						subtotal: this.productPrice.toFixed(2),
						promo_codes: this.coupon_code,
						auto_match: 1,
						product_items: JSON.stringify(this.shoppingCart),
						open_membership: 0
					},
					success: res => {
						console.log('新借口计算', res.data.data);
						if (res.data.status == 1) {
							getApp().globalData.priceInfo = res.data.data
							this.priceInfo = res.data.data
							this.summary = res.data.data.summary
							this.delivery = res.data.data.delivery
							this.discount = res.data.data.discount
							this.service_fee = this.summary.service_fee
							if (this.shipping_type == 'delivery') {
								this.tip = (this.summary.org_subtotal + this.summary.shipping_fee) * (this.tipPersentage * 0.01)
							}
							this.CalculatePrice()
						}else{
							uni.showToast({
								icon: 'none',
								title: res.data.error
							})
						}
					},
					fail: () => {},
					complete: () => {
						this.$forceUpdate()
					}
				});
			},
			
			// 确认订单
			confirmOrder(){
				//如果没有选择支付方式则弹出提示
				if (this.payment_type === null) {
					uni.showModal({
						title: '提示',
						content: '请选择支付方式',
						confirmColor: '#FF8161',
						showCancel: false,
						success: (res) => {
							if (res.confirm) {
								return;
							}
						}
					})
				}else{
					//让用户确认订单
					uni.showModal({
						title: '订单确认',
						content: this.current == 0 ? '您的送餐地址: ' + this.deliveryInfo.address + '.是否确认下单？'
									: '该订单为自取订单，是否确认下单？',
						confirmColor: '#FF8161',
						success: (res) => {
							if (res.cancel) {
								// 取消
								return;
							}
							if (res.confirm) {
								// 确认下单
								this.placeOrder()
							}
						},
					})
				}
			},
			
			// 下单
			placeOrder(){
				//下单
				uni.showLoading({
					title: '处理中',
					mask: true,
				})
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.placeOrder,
					method: 'POST',
					contentType: "application/json;charset-utf-8",
					header: {
						'mobile-os': "app",
						'device-id': uni.getStorageSync('openId'),
						'api-version': 1.2,
						'device-token': md5(uni.getStorageSync('openId') + 'jiangzhen-t1g'), 
						},
					data: {
						cart_id: this.priceInfo.cart_id,
						shop_id: this.storeInfo.mid,
						shipping_fee: this.summary.shipping_fee,
						shipping_distance: this.summary.distance,
						shipping_type: this.current == 0 ? 'delivery' : 'pickup',
						contact: this.delivery_address(),
						items: JSON.stringify(this.shoppingCart),
						comment: this.note,
						// tips_rate: this.tipPersentage,
						tips_amount: this.tip.toFixed(2),
						payment_type: this.payment_type,
						promotion_code: this.priceInfo.place.codes,
						order_type: 'normal',
						subtotal: this.priceInfo.place.check_price,
						preorder_date: nul,
						preorder_time: null,
					},
					success: result => { 
						console.log('下单', result);
						//判断下单是否成功
						if (result.data.status == 1 ) {
							// 付款方式
							if (this.payment_type == 'wxpay') {
								// 调用snappay获取预支付信息
								uni.request({
									url: getApp().globalData.FormalServer + getApp().globalData.snappay,
									method: 'GET',
									data: {
										order_id: result.data.data.order_id,
										pay_user_account_id: uni.getStorageSync('openId'),
										appid: 'wxbe3f4ff53c3805ab',
									},
									success: res => {
										console.log('snappay', res);
										uni.hideLoading();
										res.data.status == 1 ? 
										//拿到预支付信息后调起微信支付
										(uni.requestPayment({
											provider: 'wxpay',
											signType: res.data.data.request_payment.signType,
											paySign: res.data.data.request_payment.paySign,
											package: res.data.data.request_payment.package,
											nonceStr: res.data.data.request_payment.nonceStr,
											timeStamp: res.data.data.request_payment.timeStamp,
											success: res => {
												console.log('微信付款成功', res);
												// 付款成功后跳转
												uni.showToast({
													title: '支付成功',
													// 支付成功跳转到订单详情页
													success: function() {
														// setTimeout(function(){
															uni.reLaunch({
																url: '../orderInfo/orderInfo?order_id=' + result.data.data.order_id,
															})
														// },600)
													}
												});
											},
											fail: (res) => {
												console.log('微信付款失败', res);
												if (res.errMsg == 'requestPayment:fail cancel') {
													uni.showToast({
														icon: 'none',
														title: '您取消了付款'
													})
												}else{
													uni.showToast({
														icon: 'none',
														title: '付款失败，请重试'
													})
												}
												uni.reLaunch({
													url: '../orderInfo/orderInfo?order_id=' + result.data.data.order_id,
												})
											},
											complete: () => {}
										})) : 
										uni.showToast({
											icon: 'none',
											title: '付款失败，请重试'
										})
									},
									fail: () => {},
									complete: () => {}
								});
							}else if(this.payment_type == 'onlinepay'){
								//在线支付
								uni.reLaunch({
									url: '../payment/payment?type=pay&order_id=' + result.data.data.order_id,
								})
							}else{
								//现金支付
								uni.showToast({
									title: '下单成功',
									// 支付成功跳转到订单详情页
									success: function() {
										setTimeout(function(){
											uni.reLaunch({
												url: '../orderInfo/orderInfo?order_id=' + result.data.data.order_id,
											})
										},600)
									}
								});
							}
						}else{
							//下单失败
							uni.showToast({
								icon: 'none',
								title: "请求失败, 请稍后重试。",
							})
						}
					},
					fail: () => {},
					complete: () => {
						uni.hideLoading();
					}
				});
			},
			
			// 整理购物车信息
			organizeCart(){
				var a = []
				this.shoppingCart.forEach(e=>a.push({
					product_id: e.product_id,
					qty: e.qty,
					row_total: e.row_total,
					options: e.options,
					note: e.note
				}))
				return a;
			},
			
			// 送餐地址
			delivery_address(){
				var Dinfo;
				//如果送餐则传递客人的送餐信息
				//自取则传登录返回的客人信息
				this.deliveryInfo !== null ? Dinfo = JSON.stringify({name: this.deliveryInfo.name,
					tel: this.deliveryInfo.tel,
					addr: this.deliveryInfo.address,}) 
					: Dinfo = JSON.stringify({name: getApp().globalData.userInfo.name,
					tel: getApp().globalData.userInfo.tel,
					addr: getApp().globalData.userInfo.address,}) ;
				return Dinfo
			},
			
			//选择配送或者自取
			onClickItem(e) {
				if (this.storeInfo.customer_pickup == 0) {
					return;
				}
				if (this.current !== e.currentIndex) {
					this.current = e.currentIndex
					if (this.current == 1) {
						this.shipping_type = 'pickup'
						this.tip = 0
					}else{
						this.shipping_type = 'delivery'
					}
					this.calculateTotal()
				}
			},
			
			//计算价格
			CalculatePrice(){
				this.totalPrice = this.tip + this.transaction_fee + this.summary.grand_total
				this.org_total = this.tip + this.transaction_fee + this.summary.grand_total + this.summary.discount
			},
			
			// 选择小费百分比
			tipsChange(index){
				this.tipPersentage = this.tipsOption[index].persent;
				this.tip = (this.summary.org_subtotal + this.summary.shipping_fee) * (this.tipPersentage * 0.01)
				this.CalculatePrice()
			},
			
			// 自主输入小费金额
			tipInput(e){
				if (e.detail.value=="") {
					return;
				}
				this.tip = Number(e.detail.value);
				this.CalculatePrice()
			},
			
			// 选择付款方式
			paymentRadioChange(e){
				this.payment_type = e.detail.value
				console.log(this.payment_type);
				if (e.detail.value === 'wxpay' || e.detail.value === 'onlinepay') {
					this.transaction_fee = 1.5
				}else if(e.detail.value === 'cashpay'){
					this.transaction_fee = 0
				}
				this.CalculatePrice()
			},
			
			// 添加更多商品
			addMore(e){
				uni.navigateBack({
					delta: 2
				})
			},
			
			// 根据优惠码获取折扣
			promoCode(){
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.promocode,
					method: 'POST',
					data: {
						// code: this.code,
						code: 'GOLZK86EV',
						code_type: 'coupon_code',
						// customer_id: this.userInfo.cid,
						customer_id: 754193,
						shop_id: this.storeInfo.mid,
						items: this.shoppingCart.toString(),
						subtotal: this.totalPrice,
					},
					success: res => {
						console.log('优惠劵', res);
						res.data.status == 1 ?
						(this.coupon = res.data.data,
						uni.showToast({
							icon: 'none',
							title: res.data.data.desc
						}))
						: (uni.showToast({
							icon: 'none',
							title: res.data.error
						}), this.code = '')
					},
					fail: () => {},
					complete: () => {}
				});
			},
			
			// 备注的信息
			noteInput(e){
				console.log('备注', e.detail.value);
				this.note = e.detail.value;
			},
			
			// 解释手续费
			explain_fee(){
				var content = ''
				var payType = this.payment_type == 'wxpay' ? '微信支付' : '在线支付'
				if (this.transaction_fee != 0 && this.service_fee == 0) {
					content = payType + ' + $1.5\r\n服务费 + $' + this.service_fee
					console.log(1);
				}else if(this.transaction_fee != 0){
					content = payType + ' + $1.5'
					console.log(2);
				}else if(this.service_fee != 0){
					content = '服务费 + ' + this.service_fee
					console.log(3);
				}
				uni.showModal({
					title: '通知',
					content: content,
					showCancel: false,
					confirmText: 'Okay',
					confirmColor: '#FF8161'
				});
			},
			
			// 改地址
			changeAddress(){
				uni.navigateTo({
					url: '../addressList/addressList?type=select',
				});
			},
			
			
			// 从卡包选择
			gotoCoupon(){
				let shipping_type = this.current == 0 ? 'delivery' : 'pickup'
				uni.navigateTo({
					url: '../promoCode/promoCode?shop_id=' + this.storeInfo.mid + '&shipping_type=' + shipping_type,
				});
			},
			
			//判断商家支持的付款方式
			paymentMethod(){
				if (this.storeInfo.supported_payment_methods.length == 2) {
					return;
				}
				var that = this
				that.storeInfo.supported_payment_methods.forEach(function(e){
					e == "onlinepay" ? (that.payment.splice(2, 2)) :  (that.payment.splice(0, 2))
					// e == "cashpay" ? '' : (this.payment.splice(2, 2))
				})
			},
			
			// 给商家打电话
			phoneCall(){
				uni.makePhoneCall({
					phoneNumber: this.storeInfo.tel
				})
			},
			
			// 复制地址
			openAddress(){
				uni.openLocation({
					latitude: Number(this.storeInfo.lat),
					longitude: Number(this.storeInfo.lon),
					success: function() {
						console.log('success');
					}
				});
			}
		}
	}
</script>

<style>
	.discount_desc{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 80rpx;
		color: #FF5722;
	}
	.coupon_icon{
		height: 40rpx;
		width: 40rpx;
	}
	.couponRow{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20rpx 0rpx;
		border-bottom: 0.1px solid #F0F0F0;
	}
	.org{
		color: #999999;
		text-decoration: line-through;
		margin-right: 30rpx;
	}
	.nowrap{
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.text{
		font-size: x-small;
		font-weight: 300;
		padding-left: 30rpx;
	}
	.couRight{
		width: 500rpx;
		height: 200rpx;
		display: flex;
		flex-direction: column;
		border-radius: 20rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		border-left: 0.5px dashed #000000;
	}
	.couRightTop{
		padding-right: 20rpx;
		padding-left: 30rpx;
		height: 60rpx;
		width: 100%;
		font-weight: 600;
		background-color: #FF8161;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-top-left-radius: 20rpx;
		border-top-right-radius: 20rpx;
		border-left: 0.5px dashed #000000;
	}
	.coupLefttop{
		height: 60rpx;
		width: 100%;
		background-color: #FF8161;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: small;
		border-top-left-radius: 20rpx;
		border-top-right-radius: 20rpx;
	}
	.coupLeft{
		width: 200rpx;
		height: 200rpx;
		display: flex;
		flex-direction: column;
		border-radius: 20rpx;
		align-items: center;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
	}
	.cou{
		margin: 20rpx 20rpx;
		display: flex;
		flex-direction: row;
		/* height: 200rpx; */
	}
	.phoneCall{
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 60rpx;
		width: 200rpx;
		border-radius: 90rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
	}
	.apply{
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 98rpx;
		height: 60rpx;
		width: 120rpx;
	}
	.couponInput{
		padding: 10rpx 30rpx;
		border-radius: 98rpx;
		width: 400rpx;
		height: 50rpx;
		background-color: #F5F5F5;
	}
	.qty{
		background-color: #FF8161;
		color: #FFFFFF;
		border-radius: 6rpx;
		width: 30rpx;
		height: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: smaller;
	}
	.img{
		width: 40rpx;
		height: 40rpx;
	}
	.card{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding: 20rpx 30rpx;
	}
	.topcard{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding-bottom: 20rpx;
	}
	.rightArrow{
		margin-left: 15rpx;
		border-radius: 100rpx;
		height: 40rpx;
		width: 40rpx;
	}
	.col{
		display: flex;
		flex-direction: column;
	}
	.input{
		padding: 20rpx 30rpx;
		background-color: #F5F5F5;
	}
	.cartItem{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		/* font-weight: 300; */
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.con{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20rpx 0rpx;
		/* border-bottom: 0.5px solid #F0F0F0; */
		font-weight: 300;
		font-size: small;
	}
	.editTip{
		display: inline-block;
		text-align: center;
		font-weight: 300;
		background-color: #eeeeef;
		border-radius: 10rpx;
		height: 70rpx;
		width: 100rpx;
	}
	.placeOrder {
		display: flex;
		color: #FFFFFF;
		justify-content: center;
		align-items: center;
		margin-left: 50rpx;
		width: 200rpx;
		height: 100rpx;
		white-space: nowrap;
		background-color: #FF8161;
		border-top-right-radius: 98rpx;
		border-bottom-right-radius: 98rpx;
	}
	.btn {
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: #000000;
		border-radius: 98rpx;
		width: 700rpx;
		height: 100rpx;
	}
</style>
