<template>
	<view>
		
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">
			<view v-if="empty" style="width: 100%;height: 100%;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;">
				<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
				<text style="color: #999999;font-size: larger;">没有符合的结果</text>
			</view>
			
			<view v-if="!empty">
				<view v-for="(item, index) in list" :key="index">
					<view class='cont'>
						<image v-if="item.type == 'visa'" src="../../static/image/visaLogo.png" mode="aspectFit" class="icon"></image>
						<image v-else-if="item.type == 'amex'" src="../../static/image/amex.png" mode="aspectFit" class="icon"></image>
						<image v-else-if="item.type == 'master'" src="../../static/image/master.jpg" mode="aspectFit" class="icon"></image>
						
						<text class="num">**** **** **** {{item.card_no.slice(-4)}}</text>
						<image @click="deleteCard(index)" src="../../static/image/close.png" mode="aspectFit" 
						style="width: 30rpx;height: 30rpx;"></image>
					</view>
				</view>
				
				<view style="height: 200rpx;"></view>
			</view>
			
			<view class="btn" @click="addCard">添加信用卡</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				list: null,
				empty: false,
				loading: true,
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
			}
		},
		
		onLoad() {
			
		},
		
		onShow() {
			this.loading = true
			this.reload()
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 500)
		},
		
		methods: {
			// 重新加载
			reload(){
				console.log('reload');
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.creditCardList,
					method: 'GET',
					success: res => {
						if (res.data.status == 1) {
							 this.list = res.data.data
							 this.list.length == 0 ? this.empty = true : ''
						}else{
							// 获取信用卡列表失败
						}
						console.log(this.list);
					},
					fail: () => {},
					complete: () => {}
				});
			},
			
			// 删除信用卡
			deleteCard(index){
				console.log(index);
				
				uni.showModal({
					title: '删除信用卡',
					content: '信用卡删除后不能恢复，确定删除信用卡吗？',
					confirmColor: '#FF8161',
					showCancel: true,
					success: res => {
						if (res.confirm) {
							// 点击确认
							uni.request({
								url: getApp().globalData.FormalServer + getApp().globalData.deleteCreditCard,
								method: 'POST',
								data: {
									id: this.list[index].id,
								},
								success: res => {
									console.log(res);
									if (res.data.status == 1) {
										uni.showModal({
											title: '提示',
											content: '删除信用卡成功',
											confirmColor: '#FF8161',
											showCancel: false,
											success: res => {
												this.reload()
											}
										});
									}else{
										uni.showToast({
											title: res.data.error,
											icon: 'none'
										});
									}
								},
								fail: () => {},
								complete: () => {}
							});
						}else{
							
						}
					}
				});
			},
			
			// 添加信用卡
			addCard(){
				uni.navigateTo({
					url: '../payment/payment?type=add',
				});
			}
		}
	}
</script>

<style>
	.num{
		white-space: nowrap;
		/* margin: 0rpx 50rpx; */
	}
	.icon{
		height: 80rpx;
		width: 200rpx;
	}
	.btn{
		font-size: larger;
		font-weight: bold;
		position: fixed;
		bottom: 30rpx;
		left: 20rpx;
		right: 20rpx;
		color: #FFFFFF;
		height: 100rpx;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.cont{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 175rpx;
		margin: 25rpx 40rpx;
		margin-top: 30rpx;
		border-radius: 15rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}
</style>
