<template>
	<view>
		<uni-segmented-control :current="current" :values="type == 'user' ? userItem : items" 
		@clickItem="onClickItem" style-type="text" active-color="#daa520"></uni-segmented-control>
        
		<!-- loading -->
		<view v-if="loading" style="width: 100%;height: 1000rpx;display: flex;align-items: center;
		justify-content: center;align-content: center;">
			<swiper style="width: 300rpx;height: 300rpx;" 
				:indicator-dots="false" 
				autoplay="true" 
				interval="100" 
				circular="true"
				disable-touch="true"
				duration="0">
				<swiper-item v-for="(item , index) in loadingImage" :key="index">
					<image :src="item" mode="aspectFit" style="width: 300rpx;height: 300rpx;"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<!-- 加载完成 -->
		<view v-show="!loading">
		
		<view class="content">
			<!-- 第一个选项 -->
            <view v-if="current === 0">
				
				<view v-if="myCouponEmpty" style="width: 100%;height: 100%;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;">
					<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
					<text style="color: #999999;font-size: larger;">您还没有优惠劵</text>
				</view>
				
                <!-- 选项卡1我的优惠劵 -->
				<view v-if="!myCouponEmpty">
					<view v-for="(item, index) in couponList" :key="index">
						<view class="cou" @click="type=='confirm' ? chooseCoupon(1, index) : ''">
							<view class="coupLeft">
								<view class="coupLefttop">优惠劵</view>
								<view style="font-size: larger;font-weight: 700;margin: 20rpx;">{{item.amount_desc}}</view>
								<text style="font-size: smaller;font-weight: 300;">{{item.rule_desc}}</text>
							</view>
							<view class="couRight">
								<view class="couRightTop">
									<text style="width: 400rpx;white-space: nowrap;overflow: hidden;
									text-overflow: ellipsis;">{{item.title}}</text>
								</view>
								<view class="text" style="margin-top: 20rpx;">优惠码: {{item.code}}</view>
								<view class="text">{{item.discount_desc}}</view>
								<view class="text" style="margin-top: 15rpx;">有效期: {{item.end_date}}</view>
							</view>
						</view>
					</view>
				</view>
            </view>
            
			<!-- 第二个选项 -->
			<view v-if="current === 1">
				<view v-if="secondListEmpty" style="width: 100%;height: 100%;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;">
					<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
					<text style="color: #999999;font-size: larger;">您还没有优惠劵</text>
				</view>
				
                <!-- 选项卡2商家优惠劵或用户已使用的优惠劵 -->
				<view v-if="!secondListEmpty">
					<view v-for="(item, index) in secondCouponList" :key="index">
						<view class="cou" @click="type=='confirm' ? chooseCoupon(2, index) : ''">
							<view class="coupLeft">
								<view class="coupLefttop" :style="{'background-color': (type=='user' ? '#999':'#FF8161')}">优惠劵</view>
								<view style="font-size: larger;font-weight: 700;margin: 20rpx;">{{item.amount_desc}}</view>
								<text style="font-size: smaller;font-weight: 300;">{{item.rule_desc}}</text>
							</view>
							<view class="couRight">
								<view class="couRightTop" :style="{'background-color': (type=='user' ? '#999':'#FF8161')}">
									<text style="width: 400rpx;white-space: nowrap;overflow: hidden;
									text-overflow: ellipsis;">{{item.title}}</text>
								</view>
								<view class="text" style="margin-top: 20rpx;">优惠码: {{item.code}}</view>
								<view class="text">{{item.discount_desc}}</view>
								<view class="text" style="margin-top: 15rpx;">有效期: {{item.end_date}}</view>
							</view>
						</view>
					</view>
				</view>
            </view>
			
			<!-- 第三个选项 -->
			<view v-if="current === 2">
				<view v-if="thirdListEmpty" style="width: 100%;height: 100%;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;">
					<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
					<text style="color: #999999;font-size: larger;">您还没有优惠劵</text>
				</view>
				
			    <!-- 选项卡2商家优惠劵或用户已使用的优惠劵 -->
				<view v-if="!thirdListEmpty">
					<view v-for="(item, index) in thirdCouponList" :key="index">
						<view class="cou" @click="type=='confirm' ? chooseCoupon(2, index) : ''">
							<view class="coupLeft">
								<view class="coupLefttop" :style="{'background-color': (type=='user' ? '#999':'#FF8161')}">优惠劵</view>
								<view style="font-size: larger;font-weight: 700;margin: 20rpx;">{{item.amount_desc}}</view>
								<text style="font-size: smaller;font-weight: 300;">{{item.rule_desc}}</text>
							</view>
							<view class="couRight">
								<view class="couRightTop" :style="{'background-color': (type=='user' ? '#999':'#FF8161')}">
									<text style="width: 400rpx;white-space: nowrap;overflow: hidden;
									text-overflow: ellipsis;">{{item.title}}</text>
								</view>
								<view class="text" style="margin-top: 20rpx;">优惠码: {{item.code}}</view>
								<view class="text">{{item.discount_desc}}</view>
								<view class="text" style="margin-top: 15rpx;">有效期: {{item.end_date}}</view>
							</view>
						</view>
					</view>
				</view>
			</view>
        </view>
	
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				myCouponEmpty: false,
				secondListEmpty: false,
				thirdListEmpty: false,
				loading: true,
				type: null,
				couponList: null,
				secondCouponList: null,
				thirdCouponList: null,
				current: 0,
				items: ['普通优惠', '会员专属优惠', '超级折上折'],
				userItem: ['未使用', '已使用'],
				loadingImage:['../../static/image/loading1.png',
								'../../static/image/loading2.png',
								'../../static/image/loading3.png',
								'../../static/image/loading4.png',
								'../../static/image/loading5.png',
								'../../static/image/loading6.png',],
			}
		},
		
		onLoad(e) {
			console.log(e);
			this.type = e.type
			// 判断从哪里点击进来
			if (e.type == 'user') {
				this.getUsedCoupon()
			}else if(e.type == 'confirm'){
				this.getCouponList(e.shop_id)
			}
		},
		
		onShow() {
			this.loading = true
			let that = this
			setTimeout(function(){
				that.loading = false
			}, 500)
		},
		
		methods: {
			// 选择优惠劵
			chooseCoupon(listNum, index){
				// 判断列表是我的优惠劵还是商家优惠劵
				var list
				if (listNum == 1) {
					list = this.couponList
				}else{
					list = this.secondCouponList
				}
				let pages = getCurrentPages();             //获取所有页面栈实例列表
				let nowPage = pages[ pages.length - 1];    //当前页页面实例
				let prevPage = pages[ pages.length - 2 ];  //上一页页面实例
				// 修改上一页的优惠价格和coupon
				if (list[index].discount_type == 'percent') {
					prevPage.$vm.discountPrice = (list[index].amount * 0.01) * ((prevPage.$vm.totalPrice * prevPage.$vm.storeInfo.tax_rate) + prevPage.$vm.totalPrice)
				}else if(list[index].discount_type == 'integer'){
					prevPage.$vm.discountPrice = Number(list[index].amount)
				}
				prevPage.$vm.CalculatePrice()
				prevPage.$vm.coupon = list[index];
				uni.navigateBack({ 	
					//uni.navigateTo跳转的返回，默认1为返回上一级
					delta: 1
				});
			},
			
			// 获取用户的优惠劵
			getUsedCoupon(){
				// 获取用户的优惠劵列表
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.promocodeList,
					method: 'GET',
					data: {
						used: 0,
						code_type: 'coupon_code',
					},
					success: res => {
						console.log('用户优惠劵', res.data.data);
						res.data.status === 1 ?
						this.couponList = res.data.data :
						uni.showToast({
							icon: 'none',
							title: '获取失败，请重试'
						});
						this.couponList.length === 0 ? this.myCouponEmpty = true : ''
					},
				});
				
				// 获取用户已使用的优惠劵
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.promocodeList,
					method: 'GET',
					data: {
						used: 1,
						code_type: 'coupon_code',
					},
					success: res => {
						console.log('用户已使用优惠劵', res.data.data);
						res.data.status === 1 ?
						this.secondCouponList = res.data.data :
						uni.showToast({
							icon: 'none',
							title: '获取失败，请重试'
						});
						this.secondCouponList.length === 0 ? this.secondListEmpty = true : ''
					},
				});
			},
			
			// 获取商家的优惠劵列表
			getCouponList(shop_id){
				//新接口：获取分组优惠券
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.couponList,
					method: 'GET',
					data: {
						shop_id: shop_id
					},
					success: res => {
						console.log(res);
						if (res.data.status == 1) {
							this.couponList = res.data.data[0].coupons
							this.secondCouponList = res.data.data[1].coupons
							this.thirdCouponList = res.data.data[2].coupons
							this.couponList.length === 0 ? this.myCouponEmpty = true : '',
							this.secondCouponList.length === 0 ? this.secondListEmpty = true : '',
							this.thirdCouponList.length === 0 ? this.thirdListEmpty = true : ''
						}
					},
					fail: () => {},
					complete: () => {}
				});
			},
			
			
			
			// 切换顶部选项
			onClickItem(e) {
				if (this.current !== e.currentIndex) {
					this.current = e.currentIndex;
				}
			}
		}
	}
</script>

<style>
	.text{
		font-size: smaller;
		font-weight: 300;
		padding-left: 30rpx;
	}
	.couRight{
		width: 500rpx;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 20rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		border-left: 0.5px dashed #000000;
	}
	.couRightTop{
		padding-left: 30rpx;
		height: 60rpx;
		width: 100%;
		font-weight: 600;
		background-color: #FF8161;
		display: flex;
		align-items: center;
		border-top-left-radius: 20rpx;
		border-top-right-radius: 20rpx;
		border-left: 0.5px dashed #000000;
	}
	.coupLefttop{
		height: 60rpx;
		width: 100%;
		background-color: #FF8161;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: small;
		border-top-left-radius: 20rpx;
		border-top-right-radius: 20rpx;
	}
	.coupLeft{
		width: 200rpx;
		height: 200rpx;
		display: flex;
		flex-direction: column;
		border-radius: 20rpx;
		align-items: center;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
	}
	.cou{
		margin: 30rpx;
		display: flex;
		flex-direction: row;
		height: 200rpx;
	}
	.content{
		display: flex;
		flex-direction: column;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.col{
		display: flex;
		flex-direction: column;
	}
</style>
