<template>
	<view>
		<input type="text" class="input" placeholder="邮箱地址" focus="true" 
		placeholder-class="placeStyle" @input="emailInput"/>
		
		<view style="width: 100%;padding: 30rpx;display: flex;flex-direction: row-reverse;">
			<view class="phoneCall" @click="receipt" >
				完成</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				email: '',
				order_id: null,
			}
		},
		
		onLoad(e) {
			// console.log(e);
			this.order_id = e.order_id
		},
		
		methods: {
			// 获取输入
			emailInput(e){
				this.email = e.detail.value;
			},
			
			// 发送发票
			receipt(){
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.sendReceipt,
					method: 'POST',
					data: {
						order_id: this.order_id,
						email: this.email,
					},
					success: res => {
						console.log(res)
						if (res.data.status == 1) {
							uni.showToast({
								title: '发送成功',
								icon: 'none',
								complete: () => {
									uni.navigateBack({
										delta: 1
									})
								}
							});
						}else{
							uni.showToast({
								title: res.data.error,
								icon: 'none'
							});
						}
					},
					fail: () => {},
					complete: () => {}
				});
			}
		}
	}
</script>

<style>
	.placeStyle{
		/* padding: 0rpx 30rpx; */
		font-size: x-large;
		align-items: center;
	}
	.input{
		margin-left: 30rpx;
		width: 100%;
		height: 150rpx;
		font-size: x-large;
		align-items: center;
		/* padding: 0rpx 30rpx; */
		border-bottom: 0.5px solid #999;
	}
	.phoneCall{
		background-color: #353636;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 60rpx;
		width: 150rpx;
		border-radius: 90rpx;
		box-shadow: 0px 0px 1px 1px #DDDDDD;
	}
</style>
