<template>
	<view>
		<image src="../../static/image/customerService.jpg" class="img" mode="scaleToFill"></image>
		
		<button class="btn" open-type="contact">人工客服</button>
		
		<button class="btn" @click="reminder">催单</button>
		
		<u-popup v-model="popup" mode="center" height="22%" width="80%" border-radius="10"
		 @touchmove.prevent>
			<view style="display: flex;flex-direction: column;justify-content: space-between;height: 100%;">
				<view class="display: flex;flex-direction: column">
					<text style="height: 100rpx;width: 100%;display: flex;align-items: center;
					justify-content: center; font-size: large;">请输入订单号</text>
					
					<input :focus="autoFocus" type="number" placeholder="请输入订单号" 
					style="padding: 10rpx 30rpx;margin-top: 20rpx;" @input="orderId"/>
				</view>
				
				
				<view style="display: flex;flex-direction: row;">
					<view class="confirm" @click="cancel">取消</view>
					<view class="confirm" style="color: #7cfc00;" @click="confirm">提交</view>
				</view>
			</view>
		</u-popup>
				
	</view>
</template>

<script>
	export default {
		data() {
			return {
				popup: false,
				autoFocus: false,
				order_id: null,
			}
		},
		methods: {
			// 提交
			confirm(){
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.hurryUp,
					method: 'POST',
					data: {
						order_id: this.order_id
					},
					success: res => {
						if (res.data.status == 1) {
							uni.showToast({
								title: '催单成功！',
								icon: 'none'
							});
						}else if(res.data.status == 0){
							uni.showToast({
								title: '请输入正确的订单号',
								icon: 'none'
							});
						}
					},
					fail: () => {},
					complete: () => {}
				});
				this.popup = false
			},
			
			// 取消
			cancel(e){
				this.popup = false
			},
			
			// 获取订单号
			orderId(e){
				console.log(e);
				this.order_id = e.detail.value
			},
			
			// 催单
			reminder(e){
				this.popup = true
				setTimeout(function(){
					this.autoFocus = true
				}, 500)
			}
			
		}
	}
</script>

<style>
	.confirm{
		/* margin-top: 30rpx; */
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		border: 0.5px solid #F0F0F0;
	}
	.img{
		width: 100%;
	}
	.btn{
		border: none;
		border-radius: 90rpx;
		margin: 50rpx 100rpx;
		background-color: #ffd700;
		font-weight: 300;
	}
</style>
