<template>
	<view>
		
		<view class="card">
			<view class="top">
				<view class="row" style="align-items: center;">
					<image :src="img" :lazy-load="true" mode="aspectFill" class="img"></image>
					<text class="name">{{name}}</text>
				</view>
			</view>
			
			<view class="col" style="padding: 30rpx;justify-content: center;margin-top: 50rpx;">
				<view class="row" style="align-items: center;">
					<text style="font-weight: 500;">菜品评价</text>
					<uni-rate :value="0" size="26" :margin="10" :allowHalf="true" @change="foodrate"/>
				</view>
				<textarea class="input" @input="foodMSG" placeholder="您对餐品有什么想法？" placeholder-class="placeHolder"/>
				
				<view class="row" style="align-items: center;margin-top: 80rpx;">
					<text style="font-weight: 500;">服务评价</text>
					<uni-rate :value="0" size="28" :margin="10" :allowHalf="true" @change="servicerate"/>
				</view>
				<textarea class="input" @input="serviceMSG" placeholder="您对这次送餐服务有什么想法？" placeholder-class="placeHolder"/>
			
				<!-- 底部提交按钮 -->
				<view class="btn" @click="submit">提交</view>
			</view>
		</view>
		
		<!-- <view class="row">
			<uni-tag @click="clickTag" disabled="false" class="tag" text="味道赞" type="primary|default" :circle="true"></uni-tag>
			<uni-tag @click="clickTag" disabled="false" class="tag" size="small" text="分量足" type="primary" :circle="true"></uni-tag>
			<uni-tag class="tag" text="价格优" type="primary"  :circle="true"></uni-tag>
		</view> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				oid: null,
				img: null,
				name: null,
				fmsg: '',
				smsg: '',
				frate: 0,
				srate: 0,
			}
		},
		
		onLoad(e) {
			console.log(e);
			this.name = e.name
			this.img = e.img
			this.oid = e.oid
		},
		
		methods: {
			foodMSG(e){
				console.log(e);
				this.fmsg = e.detail.value
			},
			
			serviceMSG(e){
				this.smsg = e.detail.value
			},
			
			// clickTag(e){
			// 	console.log(e);
			// },
			
			foodrate(e){
				console.log(e);
				this.frate = e.value
			},
			
			servicerate(e){
				console.log(e);
				this.srate = e.value
			},
			
			submit(e){
				uni.request({
					url: getApp().globalData.FormalServer + getApp().globalData.rate,
					method: 'POST',
					data: {
						order_id: this.oid,
						rating_service: this.srate,
						content_service: this.smsg,
						tags_service: '',
						rating_shop: this.frate,
						content_shop: this.fmsg,
						tags_shop: '',
					},
					success: res => {
						console.log(res);
						if (res.data.status==1) {
							uni.showToast({
								title: '提交成功，感谢您的反馈！',
								icon: 'none',
							});
							setTimeout(function(){
								uni.navigateBack({
									delta: 1
								})
							}, 800)
						}else{
							uni.showToast({
								title: '提交失败，请重试！'
							});
						}
					},
					fail: () => {},
					complete: () => {}
				});
			}
		}
	}
</script>

<style>
	.btn {
		margin-top: 50rpx;
		color: #FFFFFF;
		/* font-size: large; */
		font-weight: 600;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		display: flex;
		flex-direction: row;
		background-color: #FF8161;
		border-radius: 98rpx;
		width: 100%;
		height: 90rpx;
	}
	.col{
		display: flex;
		flex-direction: column;
	}
	.placeHolder{
		color: #999999;
		/* padding: 5rpx 10rpx; */
	}
	.input{
		padding: 10rpx 15rpx;
		margin-top: 50rpx;
		height: 200rpx;
		width: 100%;
		border: 1px solid #F5F5F5;
		background-color: #F5F5F5;
	}
	.name{
		margin-left: 20rpx;
		width: 600rpx;
		padding: 0rpx 10rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 500;
	}
	.img{
		height: 70rpx;
		width: 70rpx;
		border-radius: 50rpx;
	}
	.top{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		padding: 10rpx 20rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
	.tag{
		font-size: small;
		height: 60rpx;
		width: 150rpx;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
</style>
